In [1]:
import pandas as pd
import datetime as dt
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://postgres:admin@localhost:5432/BBB_development')
conbb = engine.connect()
    
data_path = '../data/'

In [2]:
fm_year = 1976
to_year = 1976
sql = '''
SELECT year, rank, nbr, title, A.name, code, publish_date, views
FROM songs S
JOIN artists A ON artist_id = A.id
WHERE    code <> '' AND year BETWEEN %s AND %s
ORDER BY rank'''
sql = sql % (fm_year, to_year)
songs = pd.read_sql(sql,conbb, parse_dates = ["publish_date"])
songs

,year,rank,nbr,title,name,code,publish_date,views
0,1976,1,99,Silly Love Songs,Paul McCartney & Wings,wh15LOppcWQ,2011-12-06,6306487
1,1976,2,99,Don't Go Breaking My Heart,Elton John,z0qW9P-uYfM,2016-12-11,49966925
2,1976,4,99,"December, 1963 (Oh, What a Night)",The Four Seasons,mTUhnIY3oRM,2006-10-04,9837524
3,1976,5,99,Play That Funky Music,Wild Cherry,_pHT9yYFdZg,2012-07-27,21588500
4,1976,6,99,Kiss and Say Goodbye,The Manhattans,wtjro7_R3-4,2017-12-22,127639870
5,1976,8,99,50 Ways to Leave Your Lover,Paul Simon,ABXtWqmArUU,2013-09-11,11654164
6,1976,12,99,Afternoon Delight,Starland Vocal Band,2NUkhMq_iRo,2010-08-04,3646150
7,1976,13,99,I Write the Songs,Barry Manilow,SBNnUaU1j08,2008-06-29,2261620
8,1976,14,99,"Fly, Robin, Fly",Silver Convention,oUPdG4DA42g,2013-12-12,17067316
9,1976,18,1,Bohemian Rhapsody,Queen,fJ9rUzIMcZQ,2008-08-01,1250439823
10,1976,23,99,Love Hurts,Nazareth,G_1LP3Z6pW4,2016-05-01,104986472
11,1976,25,7,Take It to the Limit,The Eagles,gEtT9V0cZ1o,2018-10-17,264806
12,1976,31,4,You Should Be Dancing,Bee Gees,_JoZS6LgqYI,2010-04-15,64314424
13,1976,35,99,Only Sixteen,Dr. Hook,olQNes_mq8I,2012-07-21,6811908
14,1976,40,99,All by Myself,Eric Carmen,OUjrqVaT_B4,2017-02-20,79722
15,1976,45,99,That's the Way (I Like It),KC and the Sunshine Band,q3svW8PM_jc,2010-07-08,23382298
16,1976,48,99,If You Leave Me Now,Chicago,MJNVc6CZGBQ,2012-06-24,1626095
17,1976,51,99,Dream On,Aerosmith,sZfZ8uWaOFI,2018-03-30,31909368
18,1976,77,99,Rhiannon,Fleetwood Mac,U_aYibUx1B8,2011-04-19,55222223
19,1976,78,99,Got to Get You into My Life,The Beatles,r95-7zfgtLw,2018-09-08,2605738
20,1976,79,99,Fanny (Be Tender with My Love),Bee Gees,xgDbE6WOyws,2018-05-04,941799
21,1976,83,99,You're My Best Friend,Queen,HaZpZQG2z10,2019-12-10,41258018
22,1976,101,4,Life in the Fast Lane,The Eagles,4tcXblWojdM,2011-06-12,4988265
23,1976,102,99,Blitzkrieg Bop,Ramones,skdE0KAFCEA,2006-01-18,3334137
24,1976,105,5,Fernando,Abba,dQsjAbZDx-4,2010-02-23,91263814

In [3]:
sql = '''
SELECT SUM(views)
FROM songs S
JOIN artists A ON artist_id = A.id
WHERE year BETWEEN %s AND %s
AND   code <> '' LIMIT 12
'''
sql = sql % (fm_year, to_year) 
pd.read_sql(sql,conbb)

            sum
0  1.933397e+09

In [4]:
sr = songs['code']
vids= sr.values.tolist()
vids

['wh15LOppcWQ',
 'z0qW9P-uYfM',
 'mTUhnIY3oRM',
 '_pHT9yYFdZg',
 'wtjro7_R3-4',
 'ABXtWqmArUU',
 '2NUkhMq_iRo',
 'SBNnUaU1j08',
 'oUPdG4DA42g',
 'fJ9rUzIMcZQ',
 'G_1LP3Z6pW4',
 'gEtT9V0cZ1o',
 '_JoZS6LgqYI',
 'olQNes_mq8I',
 'OUjrqVaT_B4',
 'q3svW8PM_jc',
 'MJNVc6CZGBQ',
 'sZfZ8uWaOFI',
 'U_aYibUx1B8',
 'r95-7zfgtLw',
 'xgDbE6WOyws',
 'HaZpZQG2z10',
 '4tcXblWojdM',
 'skdE0KAFCEA',
 'dQsjAbZDx-4']

In [6]:
#songs.to_excel('c:\\aab\\excel\\800m.xlsx')