In [2]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

In [3]:
format_dict = {
               'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
               'price':'{:.2f}',
               'net':'{:,.2f}','fee':'{:,.2f}','vat':'{:,.2f}','gross':'{:,.2f}','cost_amt':'{:,.2f}',
               'Q4':'{:,.2f}','Q3':'{:,.2f}','Q2':'{:,.2f}','Q1':'{:,.2f}','DIVIDEND':'{:,.2f}',
               'qty':'{:,}','shares':'{:,}','qty_z':'{:,}'
              }
pd.set_option("display.max_rows", None)

### Change kind en masse

In [4]:
name = 'TTLPF'
kind = 'DIV'
sql = '''
SELECT B.id, S.name, date, qty, price, qty * price AS cost_amt, status, kind
FROM buys B
JOIN stocks S ON B.stock_id = S.id 
WHERE name = "%s" AND status = "Active"
ORDER BY id DESC'''
sql = sql % name
buys = pd.read_sql(sql, conpf)
buys.style.format(format_dict)

In [5]:
ttl_qty = buys.qty.sum()
ttl_amt = buys.cost_amt.sum()
unit_cost = ttl_amt / ttl_qty
ttl_amt, ttl_qty, unit_cost

(125910.0, 5800, 21.708620689655174)

In [6]:
sr = buys['id']
sr

0    786
1    755
2    748
3    744
4    728
5    725
6    724
7    718
8    717
9    716
Name: id, dtype: int64

In [7]:
ids = sr.values.tolist()
ids

[786, 755, 748, 744, 728, 725, 724, 718, 717, 716]

In [8]:
in_p = ', '.join(map(lambda id: "%s" % id, ids))
in_p

'786, 755, 748, 744, 728, 725, 724, 718, 717, 716'

In [9]:
sql = '''
UPDATE buys
SET kind = "%s"
WHERE id IN (%s)
'''
sql = sql % (kind, in_p)
print(sql)

UPDATE buys
SET kind = "DIV"
WHERE id IN (786, 755, 748, 744, 728, 725, 724, 718, 717, 716)

In [10]:
rp = conpf.execute(sql)
rp.rowcount

10

In [11]:
sql = '''
SELECT DISTINCT S.name, kind
FROM buys B
JOIN stocks S ON B.stock_id = S.id 
WHERE status = "Active" AND kind = "%s"
ORDER BY S.name'''
sql = sql % kind
df_tmp = pd.read_sql(sql, conpf)
df_tmp

    name kind
0    BGC  DIV
1    BKI  DIV
2    DCC  DIV
3  HREIT  DIV
4     LH  DIV
5   SENA  DIV
6   SMPC  DIV
7  TPIPP  DIV
8  TTLPF  DIV

In [53]:
sql = '''
SELECT DISTINCT S.name, kind
FROM buys B
JOIN stocks S ON B.stock_id = S.id 
WHERE status = "Active"
ORDER BY kind, S.name'''
df_tmp = pd.read_sql(sql, conpf)
df_tmp

        name kind
0        BGC  DIV
1        BKI  DIV
2        DCC  DIV
3      HREIT  DIV
4         LH  DIV
5       SENA  DIV
6       SMPC  DIV
7      TPIPP  DIV
8      TTLPF  DIV
9     GVREIT  DOS
10      SCCC  DOS
11  SUPEREIF  DOS
12     TISCO  DOS
13     ASIAN  DTD
14       CPF  DTD
15        GC  DTD
16    GUNKUL  DTD
17       IVL  DTD
18       MTC  DTD
19       ORI  DTD
20       PRM  DTD
21     PTTEP  DTD
22     PTTGC  DTD
23     ROJNA  DTD
24       SCC  DTD
25       SGP  DTD
26       SIS  DTD
27      TCAP  DTD
28        TU  DTD
29       TVO  DTD
30     CPNCG   HD
31       DIF   HD
32     JASIF   HD
33       MCS   HD
34     NOBLE   HD
35      POPF   HD
36      TCAP   HD
37    ADVANC   SS
38     AMATA   SS
39      EGCO   SS

### Summarized cost by name

In [12]:
sql = '''
SELECT *
FROM buys LIMIT 10'''
df_buys = pd.read_sql(sql, conpf)
df_buys.style.format(format_dict)

In [13]:
sql = '''
SELECT kind, name, sum(qty*price) AS gross
FROM buys 
JOIN stocks ON buys.stock_id = stocks.id
WHERE status = 'Active'
GROUP BY kind, name
ORDER BY kind, name
'''
df_buys = pd.read_sql(sql, conpf)
df_buys.style.format(format_dict)

In [14]:
df_buys.gross.sum()

11388510.0

In [15]:
sql = '''
SELECT kind, sum(qty*price) AS gross
FROM buys 
JOIN stocks ON buys.stock_id = stocks.id
WHERE status = 'Active'
GROUP BY kind
ORDER BY kind
'''
df_kind = pd.read_sql(sql, conpf)
df_kind.style.format(format_dict)