<a href="https://colab.research.google.com/github/santimcs/A8/blob/main/PL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.bbc.com/sport/football/tables'
r = requests.get(url)
html = r.text
soup = BeautifulSoup(html, 'html.parser')
table = soup.find('table')
df = pd.read_html(str(table))[0]
df

,Unnamed: 0,Unnamed: 1,Team,P,W,D,L,F,A,GD,Pts,Form
0,1,team hasn't moved,Arsenal,14,12,1,1,33,11,22,37,WWon 1 - 0 against Leeds United on October 16t...
1,2,team hasn't moved,Newcastle,16,9,6,1,32,11,21,33,WWon 1 - 0 against Everton on October 19th 202...
2,3,team hasn't moved,Man City,14,10,2,2,40,14,26,32,LLost 0 - 1 against Liverpool on October 16th ...
3,4,team hasn't moved,Tottenham,16,9,3,4,33,23,10,30,LLost 1 - 2 against Newcastle United on Octobe...
4,5,team hasn't moved,Man Utd,14,8,2,4,20,20,0,26,WWon 2 - 0 against Tottenham Hotspur on Octobe...
5,6,team hasn't moved,Brighton,15,7,3,5,26,20,6,24,DDrew 0 - 0 against Nottingham Forest on Octob...
6,7,team hasn't moved,Liverpool,14,6,4,4,28,17,11,22,WWon 1 - 0 against West Ham United on October ...
7,8,team hasn't moved,Fulham,16,6,4,6,27,26,1,22,WWon 3 - 0 against Aston Villa on October 20th...
8,9,team hasn't moved,Chelsea,14,6,3,5,17,17,0,21,DDrew 0 - 0 against Brentford on October 19th ...
9,10,team hasn't moved,Brentford,16,4,8,4,25,27,-2,20,LLost 0 - 4 against Aston Villa on October 23r...
10,11,team hasn't moved,Crystal Palace,15,5,4,6,15,21,-6,19,WWon 2 - 1 against Wolverhampton Wanderers on ...
11,12,team hasn't moved,Aston Villa,15,5,3,7,16,22,-6,18,LLost 0 - 3 against Fulham on October 20th 202...
12,13,team hasn't moved,Leicester,16,5,2,9,25,28,-3,17,WWon 2 - 0 against Leeds United on October 20t...
13,14,team hasn't moved,Bournemouth,15,4,4,7,18,32,-14,16,LLost 0 - 1 against Southampton on October 19t...
14,15,team hasn't moved,Leeds,14,4,3,7,22,26,-4,15,LLost 0 - 2 against Leicester City on October ...
15,16,team hasn't moved,West Ham,15,4,2,9,12,17,-5,14,LLost 0 - 1 against Liverpool on October 19th ...
16,17,team hasn't moved,Everton,16,3,5,8,12,19,-7,14,LLost 0 - 1 against Newcastle United on Octobe...
17,18,team hasn't moved,Wolves,16,3,4,9,10,25,-15,13,LLost 1 - 2 against Crystal Palace on October ...
18,19,team hasn't moved,Nottm Forest,15,3,4,8,11,30,-19,13,DDrew 0 - 0 against Brighton & Hove Albion on ...
19,20,team hasn't moved,Southampton,16,3,3,10,14,30,-16,12,WWon 1 - 0 against AFC Bournemouth on October ...
20,Last updated 26th December 2022 at 16:53,Last updated 26th December 2022 at 16:53,Last updated 26th December 2022 at 16:53,Last updated 26th December 2022 at 16:53,Last updated 26th December 2022 at 16:53,Last updated 26th December 2022 at 16:53,Last updated 26th December 2022 at 16:53,Last updated 26th December 2022 at 16:53,Last updated 26th December 2022 at 16:53,Last updated 26th December 2022 at 16:53,Last updated 26th December 2022 at 16:53,Last updated 26th December 2022 at 16:53

In [3]:
df.drop(columns=['Unnamed: 0','Unnamed: 1','Form'],inplace=True)
df.drop([20],inplace=True)
df

              Team   P   W  D   L   F   A   GD Pts
0          Arsenal  14  12  1   1  33  11   22  37
1        Newcastle  16   9  6   1  32  11   21  33
2         Man City  14  10  2   2  40  14   26  32
3        Tottenham  16   9  3   4  33  23   10  30
4          Man Utd  14   8  2   4  20  20    0  26
5         Brighton  15   7  3   5  26  20    6  24
6        Liverpool  14   6  4   4  28  17   11  22
7           Fulham  16   6  4   6  27  26    1  22
8          Chelsea  14   6  3   5  17  17    0  21
9        Brentford  16   4  8   4  25  27   -2  20
10  Crystal Palace  15   5  4   6  15  21   -6  19
11     Aston Villa  15   5  3   7  16  22   -6  18
12       Leicester  16   5  2   9  25  28   -3  17
13     Bournemouth  15   4  4   7  18  32  -14  16
14           Leeds  14   4  3   7  22  26   -4  15
15        West Ham  15   4  2   9  12  17   -5  14
16         Everton  16   3  5   8  12  19   -7  14
17          Wolves  16   3  4   9  10  25  -15  13
18    Nottm Forest  15   3  4   8  11  30  -19  13
19     Southampton  16   3  3  10  14  30  -16  12