In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

format_dict = {
    'qty':'{:,}','price':'{:.2f}','amount':'{:,.2f}'
}
cols = 'trade name qty price active'.split()

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2022, 5, 14), datetime.date(2022, 5, 13))

In [2]:
#yesterday = date(2021, 5, 14)
yesterday

datetime.date(2022, 5, 13)

### Matching check with profits in portmy database

In [3]:
format_dict = {
    'shares':'{:,}',    
    'q4':'{:.4f}','q3':'{:.4f}','q2':'{:.4f}','q1':'{:.4f}','dividend':'{:.4f}',
    'xdate':'{:%Y-%m-%d}','paiddate':'{:%Y-%m-%d}',
}

In [17]:
sql = '''
SELECT *
FROM stocks
ORDER BY market, name'''
stocks = pd.read_sql(sql, conlite)
stocks.dtypes

id                 int64
name              object
max_price        float64
min_price        float64
status            object
buy_target       float64
sell_target      float64
volume           float64
beta             float64
cost             float64
qty                int64
buy_spread         int64
sell_spread        int64
available_qty      int64
bl                 int64
sh                 int64
reason            object
market            object
dtype: object

In [13]:
sql = '''
SELECT *
FROM profits
ORDER BY name'''
profits = pd.read_sql(sql, conmy)
profits.shape

(34, 23)

In [14]:
df_merge = pd.merge(stocks, profits, on='name', how='outer', indicator=True)
df_merge.shape

(68, 27)

In [29]:
names = df_merge[df_merge._merge == 'right_only']['name']
names

50      AIT
51      ASK
52      BAY
53     BCPG
54       BH
55      BPP
56    COTTO
57     ESSO
58      GGC
59      IVL
60      MST
61      PTL
62      RBF
63      SIS
64     SMPC
65     SPRC
66      TOP
67      TTB
Name: name, dtype: object

In [30]:
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'AIT', 'ASK', 'BAY', 'BCPG', 'BH', 'BPP', 'COTTO', 'ESSO', 'GGC', 'IVL', 'MST', 'PTL', 'RBF', 'SIS', 'SMPC', 'SPRC', 'TOP', 'TTB'"

In [31]:
sql = """
SELECT * 
FROM stocks
WHERE name IN (%s)"""
sql = sql % in_p
my_stocks = pd.read_sql(sql, conmy)
my_stocks

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
0,11,AIT,sSET,7.05,9.80,4.12,13.80,2.38,1031.60,7272.81,140.03,1.00,11,2017-07-23 07:24:21.511814,2022-04-23 07:59:15.976370
1,38,ASK,SET,44.75,49.50,20.06,19.64,2.55,2639.22,23620.99,59.77,0.81,38,2017-07-23 07:24:24.813799,2022-04-23 07:59:16.069839
2,49,BAY,SET,34.75,39.25,27.25,7.56,0.81,73557.62,255612.72,52.47,1.29,49,2017-07-23 07:24:26.121801,2022-04-23 07:59:16.119414
3,53,BCPG,SET100 / SETCLMV / SETHD / SETTHSI,12.20,15.40,11.10,17.56,1.30,14470.45,35307.89,157.15,0.95,53,2017-07-23 07:24:26.597527,2022-04-23 07:59:16.144197
4,61,BH,SET50 / SETCLMV / SETWB,165.50,175.00,116.50,108.33,7.62,794.89,131553.59,480.52,0.43,61,2017-07-23 07:24:27.506069,2022-04-23 07:59:16.220382
5,74,BPP,SET100 / SETCLMV / SETHD / SETTHSI,16.20,20.30,15.30,15.79,1.08,30477.32,49373.25,28.02,0.83,74,2017-07-23 07:24:29.294209,2022-04-23 07:59:16.269758
6,709,COTTO,SET,2.14,3.18,1.55,21.86,1.38,5962.62,12760.01,10.15,0.87,710,2021-01-26 16:02:29.528911,2022-04-23 07:59:16.396054
7,165,ESSO,SET100,8.55,8.90,7.00,6.66,1.54,17075.18,29590.34,173.92,1.03,165,2017-07-23 07:24:41.623403,2022-04-23 07:59:16.582726
8,188,GGC,sSET,14.20,14.40,9.60,44.02,1.46,9724.83,14536.07,9.31,0.96,188,2017-07-23 07:24:45.913164,2022-04-23 07:59:16.642888
9,231,IVL,SET50 / SETTHSI,47.00,52.00,36.00,10.04,1.66,5614.55,263883.94,1112.71,1.41,231,2017-07-23 07:24:52.636551,2022-04-23 07:59:16.890998
10,290,MST,SET,11.80,14.70,9.30,8.85,1.40,2854.07,6735.61,4.79,0.59,290,2017-07-23 07:24:59.950822,2022-04-23 07:59:17.185297
11,382,PTL,SET,24.90,31.75,22.30,6.77,1.28,900.00,22410.00,82.83,0.78,382,2017-07-23 07:25:15.502568,2022-04-23 07:59:17.393950
12,702,RBF,SET100 / SETCLMV / SETWB,17.20,24.50,14.70,81.89,8.14,2000.00,34400.00,154.65,1.17,703,2019-11-20 04:28:54.041765,2022-04-23 07:59:17.442525
13,449,SIS,sSET,40.00,48.75,25.75,17.67,4.31,350.20,14007.95,33.27,1.75,449,2017-07-23 07:25:26.260437,2022-04-23 07:59:17.622924
14,455,SMPC,sSET,13.60,14.20,10.00,10.01,2.95,535.51,7282.89,14.45,0.66,455,2017-07-23 07:25:27.192504,2022-04-23 07:59:17.669999
15,470,SPRC,SET100 / SETCLMV,10.10,11.50,7.75,9.23,1.27,30004.44,43792.61,376.23,1.05,470,2017-07-23 07:25:29.084945,2022-04-23 07:59:17.748199
16,555,TOP,SET50 / SETCLMV / SETTHSI,54.25,61.50,42.50,8.80,0.92,20400.28,110671.51,817.89,1.22,555,2017-07-23 07:25:41.632818,2022-04-23 07:59:18.079655
17,541,TTB,SET50 / SETHD / SETTHSI,1.28,1.50,0.95,11.81,0.59,91791.73,123677.28,708.25,1.40,541,2017-07-23 07:25:39.022815,2022-04-23 07:59:18.139507

In [34]:
sql = """
SELECT name, market, max_price, min_price, daily_volume, beta 
FROM stocks
WHERE name IN (%s)"""
sql = sql % in_p
mst = pd.read_sql(sql, conmy)
mst

,name,market,max_price,min_price,daily_volume,beta
0,AIT,sSET,9.80,4.12,140.03,1.00
1,ASK,SET,49.50,20.06,59.77,0.81
2,BAY,SET,39.25,27.25,52.47,1.29
3,BCPG,SET100 / SETCLMV / SETHD / SETTHSI,15.40,11.10,157.15,0.95
4,BH,SET50 / SETCLMV / SETWB,175.00,116.50,480.52,0.43
5,BPP,SET100 / SETCLMV / SETHD / SETTHSI,20.30,15.30,28.02,0.83
6,COTTO,SET,3.18,1.55,10.15,0.87
7,ESSO,SET100,8.90,7.00,173.92,1.03
8,GGC,sSET,14.40,9.60,9.31,0.96
9,IVL,SET50 / SETTHSI,52.00,36.00,1112.71,1.41
10,MST,SET,14.70,9.30,4.79,0.59
11,PTL,SET,31.75,22.30,82.83,0.78
12,RBF,SET100 / SETCLMV / SETWB,24.50,14.70,154.65,1.17
13,SIS,sSET,48.75,25.75,33.27,1.75
14,SMPC,sSET,14.20,10.00,14.45,0.66
15,SPRC,SET100 / SETCLMV,11.50,7.75,376.23,1.05
16,TOP,SET50 / SETCLMV / SETTHSI,61.50,42.50,817.89,1.22
17,TTB,SET50 / SETHD / SETTHSI,1.50,0.95,708.25,1.40

In [35]:
mst.dtypes

name             object
market           object
max_price       float64
min_price       float64
daily_volume    float64
beta            float64
dtype: object

In [36]:
rcds = mst.values.tolist()
len(rcds)

18

In [37]:
for rcd in rcds:
    print(rcd)

['AIT', 'sSET    ', 9.8, 4.12, 140.03, 1.0]
['ASK', 'SET    ', 49.5, 20.06, 59.77, 0.81]
['BAY', 'SET    ', 39.25, 27.25, 52.47, 1.29]
['BCPG', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 15.4, 11.1, 157.15, 0.95]
['BH', 'SET50 / SETCLMV / SETWB    ', 175.0, 116.5, 480.52, 0.43]
['BPP', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 20.3, 15.3, 28.02, 0.83]
['COTTO', 'SET    ', 3.18, 1.55, 10.15, 0.87]
['ESSO', 'SET100    ', 8.9, 7.0, 173.92, 1.03]
['GGC', 'sSET    ', 14.4, 9.6, 9.31, 0.96]
['IVL', 'SET50 / SETTHSI    ', 52.0, 36.0, 1112.71, 1.41]
['MST', 'SET    ', 14.7, 9.3, 4.79, 0.59]
['PTL', 'SET    ', 31.75, 22.3, 82.83, 0.78]
['RBF', 'SET100 / SETCLMV / SETWB    ', 24.5, 14.7, 154.65, 1.17]
['SIS', 'sSET    ', 48.75, 25.75, 33.27, 1.75]
['SMPC', 'sSET    ', 14.2, 10.0, 14.45, 0.66]
['SPRC', 'SET100 / SETCLMV    ', 11.5, 7.75, 376.23, 1.05]
['TOP', 'SET50 / SETCLMV / SETTHSI    ', 61.5, 42.5, 817.89, 1.22]
['TTB', 'SET50 / SETHD / SETTHSI    ', 1.5, 0.95, 708.25, 1.4]

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO stocks (id, name, max_price, min_price, \
status, buy_target, sell_target, volume, beta, cost, qty, buy_spread, sell_spread, available_qty, bl, sh, \
reason, market) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?,?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

### End of Process insert profit records to stocks

In [5]:
sql = '''
SELECT *
FROM dividend
'''
dividend = pd.read_sql(sql, const)
dividend.drop(['PRICE', 'PERCENT'], axis=1, inplace=True)
dividend.columns = dividend.columns.str.lower()
dividend['shares'] = dividend['shares'].astype('int64')
dividend['xdate'] = pd.to_datetime(dividend['xdate'])
dividend['paiddate'] = pd.to_datetime(dividend['paiddate'])
dividend.dtypes

name                object
q4                 float64
q3                 float64
q2                 float64
q1                 float64
dividend           float64
shares               int64
xdate       datetime64[ns]
paiddate    datetime64[ns]
kind                object
actual               int64
dtype: object

In [6]:
dividend.sort_values(['xdate'],ascending=[True]).style.format(format_dict)

In [7]:
df_merge = pd.merge(stocks, dividend, on='name', how='outer', indicator=True)
left_mask= df_merge._merge == 'left_only'
df_merge[left_mask]
#no_dividend.sort_values(['xdate'],ascending=[True])

Empty DataFrame
Columns: [name, buy_target, market, status, q4, q3, q2, q1, dividend, shares, xdate, paiddate, kind, actual, _merge]
Index: []

### End of Process

### Consensus table

In [ ]:
sql = '''
SELECT * FROM consensus ORDER BY name'''
css = pd.read_sql(sql, conlite)
css

In [ ]:
sql = '''
SELECT *
FROM profits
ORDER BY name'''
df_prf = pd.read_sql(sql, conmy)
df_prf.shape

In [ ]:
df_merge = pd.merge(df_prf,df_stk,on='name',how='outer',indicator=True)
df_merge.shape

In [ ]:
left_mask= df_merge._merge == 'left_only'
df_merge[left_mask]

In [ ]:
right_mask= df_merge._merge == 'right_only'
df_merge[right_mask]

In [ ]:
both_mask= df_merge._merge == 'both'
df_merge[both_mask]

In [ ]:
sql = '''
SELECT * FROM SALES ORDER BY name'''
sales = pd.read_sql(sql, conlite)
sales.shape[0]

In [ ]:
sql = '''
DELETE FROM sales
WHERE name = "TCAP"'''
rp = conlite.execute(sql)
rp.rowcount