In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()
engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

data_path = "../excel/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"
pd.set_option('max_columns', None)

year = 2022
quarter = 3

### Profits

In [2]:
name = 'KCE'
sql = """
SELECT *
FROM profits
WHERE name = '%s'
"""
sql = sql % name
print(sql)

profit = pd.read_sql(sql, conmy)
profit

SELECT *
FROM profits
WHERE name = 'KCE'

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,previous_amt_q,inc_amt_q,inc_pct_q,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2516,KCE,2022,3,1,2517909,2105875,412034,19.57,2517909,2466801,51108,2.07,655243,604135,51108,8.459699,571905,83338,14.572001,249,11.167925,7.578244

In [3]:
profit.dtypes

id                  int64
name               object
year                int64
quarter             int64
kind                int64
latest_amt_y        int64
previous_amt_y      int64
inc_amt_y           int64
inc_pct_y         float64
latest_amt_q        int64
previous_amt_q      int64
inc_amt_q           int64
inc_pct_q         float64
q_amt_c             int64
y_amt               int64
inc_amt_py          int64
inc_pct_py        float64
q_amt_p             int64
inc_amt_pq          int64
inc_pct_pq        float64
ticker_id           int64
mean_pct          float64
std_pct           float64
dtype: object

In [4]:
file_name = 'profit.xlsx'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
one_file = one_path + file_name

profit.sort_values(['name'],ascending=[True]).to_excel(output_file, index=False)
profit.sort_values(['name'],ascending=[True]).to_excel(data_file, index=False)
profit.sort_values(['name'],ascending=[True]).to_excel(box_file, index=False)
profit.sort_values(['name'],ascending=[True]).to_excel(one_file, index=False)

In [5]:
sql = """
SELECT *
FROM profits
ORDER BY name
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(49, 23)

In [6]:
sql = """
SELECT P.name, T.id
FROM profits P
JOIN tickers T
ON P.name = T.name
ORDER BY P.name
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(49, 2)

In [38]:
sql = """
SELECT P.name, S.price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct, max_price
FROM profits P
LEFT JOIN tickers T
ON P.ticker_id = T.id
LEFT JOIN stocks S
ON S.ticker_id = T.id
ORDER BY P.name
"""
profits = pd.read_sql(sql, conmy)
profits

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,max_price
0,AIT,7.05,11.46,4.60,21.836696,17.374394,13.817772,7.471705,9.30
1,AMATA,19.50,97.73,22.70,162.600274,17.227978,75.064563,68.952497,23.00
2,ASK,36.00,33.73,5.64,24.528212,9.030820,18.232258,13.204172,49.50
3,BANPU,12.80,650.89,47.39,406.242561,38.743642,285.816551,297.586564,15.00
4,BBL,145.50,24.21,2.74,10.823041,9.997266,11.942577,8.948271,149.00
5,BCPG,9.65,23.42,-1.68,-6.403078,94.060629,27.349388,46.360055,13.50
6,BEM,9.40,88.29,51.16,696.208080,36.075331,217.933353,319.603820,9.65
7,BH,239.00,415.66,43.06,407.235864,28.764796,223.680165,216.921335,241.00
8,BPP,15.40,58.93,37.60,288.137318,237.869585,155.634226,125.967601,17.80
9,CKP,5.05,20.48,10.03,18.359143,69.164960,29.508526,26.819574,5.90
10,COM7,30.50,33.17,5.35,27.022105,16.877357,20.604865,12.188366,43.75
11,CPALL,61.50,70.87,14.90,146.276613,22.400261,63.611719,60.435594,69.00
12,CPN,71.50,32.93,37.08,1153.194609,4.309845,306.878613,564.398724,72.25
13,CRC,41.00,54.61,227.17,415.256707,23.465370,180.125519,180.551384,42.75
14,EA,98.50,28.24,22.72,83.776271,171.153090,76.472340,68.880245,105.50
15,GFPT,14.30,166.85,87.94,882.930825,50.636700,297.089381,393.554266,18.70
16,HMPRO,14.80,21.67,11.68,76.160999,0.872328,27.595832,33.472129,16.60
17,ICHI,11.30,16.69,12.37,49.882656,26.018237,26.240223,16.759114,12.20
18,III,14.20,57.84,10.32,51.556348,22.764432,35.620195,22.752664,18.50
19,JMART,47.50,162.94,11.22,108.756442,44.703154,81.904899,67.498192,64.00
20,JMT,66.50,38.25,6.37,29.526119,5.128903,19.818756,16.639356,88.25
21,KCE,46.75,19.57,2.07,8.459699,14.572001,11.167925,7.578244,95.00
22,KKP,72.50,51.69,7.98,40.983986,2.465573,25.779890,24.241093,76.25
23,KSL,3.70,35.41,48.91,305.129156,25.017466,103.616656,134.697298,4.16
24,KTB,17.70,51.93,12.51,67.158367,1.093799,33.173041,31.426448,18.00
25,LH,9.50,14.50,12.73,71.979609,5.122710,26.083080,30.866924,9.90
26,MAKRO,35.50,113.01,0.21,1.930205,1.858016,29.252055,55.844281,51.50
27,NER,6.05,19.03,4.67,20.117010,38.376727,20.548434,13.813815,7.80
28,OISHI,48.25,40.83,23.35,120.017744,34.874568,54.768078,44.100780,50.50
29,ORI,10.20,12.30,9.76,35.596630,56.555334,28.552991,21.993032,12.70
30,PSH,12.30,18.08,12.54,87.307412,44.034326,40.490435,34.097130,15.60
31,PTL,25.50,68.08,14.00,75.731708,18.155971,43.991920,32.427669,29.25
32,PTTEP,189.00,114.46,28.51,153.239132,17.339076,78.387052,66.127823,195.00
33,QH,2.22,27.26,20.31,143.433433,24.232426,53.808965,59.817347,2.44
34,SABUY,12.70,517.37,74.55,793.218918,40.534714,356.418408,363.287034,38.00
35,SAPPE,38.50,26.51,6.98,25.451408,6.491434,16.358211,11.121289,48.25
36,SC,3.96,13.55,5.14,19.753671,12.244761,12.672108,5.995401,4.10
37,SCB,106.50,17.58,4.04,16.934200,2.566803,10.280251,8.082891,121.50
38,SKR,14.10,149.75,-1.84,-9.253319,79.222133,54.469704,75.105313,15.80
39,SPALI,22.70,46.65,13.11,59.856338,32.470782,38.021780,20.021692,23.60
40,SSP,10.10,73.47,41.67,168.287833,118.770079,100.549478,55.137906,13.27
41,STARK,3.40,64.78,5.70,31.689119,21.208616,30.844434,25.016179,5.15
42,SVI,9.60,98.25,4.38,14.942116,41.916240,39.872089,42.005361,11.70
43,SYNEX,16.50,17.72,2.39,10.797733,12.085288,10.748255,6.331292,37.00
44,TFFIF,7.45,28.03,14.98,75.467376,5.969154,31.111633,30.926268,8.50
45,TFG,5.45,340.34,141.84,480.530736,39.994122,250.676215,197.572739,6.90
46,THG,NaN,172.65,-16.49,-47.367120,10.140013,29.733223,98.132815,NaN
47,TTA,8.20,104.10,-3.21,-10.261974,40.019311,32.661834,52.557225,12.30
48,TTB,1.36,47.56,11.50,57.489987,8.036178,31.146541,25.056298,1.50

In [8]:
sql = '''
SELECT name, market
FROM stocks
ORDER BY name'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape

(253, 2)

In [9]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))    
]
values = ['SET50','SET100','mai']

In [10]:
my_stocks["mrkt"] = np.select(filters, values, default='SET999')
my_stocks.head()

     name                       market    mrkt
0     ACE                   SET100      SET100
1  ADVANC  SET50 / SETHD / SETTHSI       SET50
2  AEONTS                   SET100      SET100
3      AH           sSET / SETTHSI      SET999
4     AIE                     sSET      SET999

In [11]:
df_merge = pd.merge(profits, my_stocks, on='name', how='inner')
df_merge.groupby('mrkt').count()

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,max_price,market
mrkt,,,,,,,,,,
SET100,11,11,11,11,11,11,11,11,11,11
SET50,17,17,17,17,17,17,17,17,17,17
SET999,20,20,20,20,20,20,20,20,20,20

In [12]:
df_tmp = pd.merge(profits, my_stocks, on='name', how='outer',indicator=True)
df_tmp[df_tmp._merge == 'left_only']

Empty DataFrame
Columns: [name, price, inc_pct_y, inc_pct_q, inc_pct_py, inc_pct_pq, mean_pct, std_pct, max_price, market, mrkt, _merge]
Index: []

In [2]:
sqlDel = """
DELETE FROM profits
WHERE name IN ('AIMIRT')"""
rp = conmy.execute(sqlDel)
rp.rowcount

1

In [14]:
set50 = df_merge[df_merge['mrkt'] == 'SET50']
set50.sort_values('name',ascending=True)

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,max_price,market,mrkt
3,BANPU,12.80,650.89,47.39,406.242561,38.743642,285.816551,297.586564,15.00,SET50 / SETCLMV / SETTHSI,SET50
4,BBL,145.50,24.21,2.74,10.823041,9.997266,11.942577,8.948271,149.00,SET50 / SETCLMV / SETHD / SETTHSI,SET50
6,BEM,9.40,88.29,51.16,696.208080,36.075331,217.933353,319.603820,9.65,SET50 / SETTHSI / SETWB,SET50
7,BH,239.00,415.66,43.06,407.235864,28.764796,223.680165,216.921335,241.00,SET50 / SETCLMV / SETWB,SET50
11,CPALL,61.50,70.87,14.90,146.276613,22.400261,63.611719,60.435594,69.00,SET50 / SETTHSI / SETWB,SET50
12,CPN,71.50,32.93,37.08,1153.194609,4.309845,306.878613,564.398724,72.25,SET50 / SETTHSI,SET50
13,CRC,41.00,54.61,227.17,415.256707,23.465370,180.125519,180.551384,42.75,SET50 / SETCLMV / SETTHSI / SETWB,SET50
14,EA,98.50,28.24,22.72,83.776271,171.153090,76.472340,68.880245,105.50,SET50 / SETTHSI,SET50
16,HMPRO,14.80,21.67,11.68,76.160999,0.872328,27.595832,33.472129,16.60,SET50 / SETTHSI / SETWB,SET50
19,JMART,47.50,162.94,11.22,108.756442,44.703154,81.904899,67.498192,64.00,SET50,SET50
20,JMT,66.50,38.25,6.37,29.526119,5.128903,19.818756,16.639356,88.25,SET50,SET50
21,KCE,46.75,19.57,2.07,8.459699,14.572001,11.167925,7.578244,95.00,SET50,SET50
24,KTB,17.70,51.93,12.51,67.158367,1.093799,33.173041,31.426448,18.00,SET50 / SETHD / SETTHSI,SET50
25,LH,9.50,14.50,12.73,71.979609,5.122710,26.083080,30.866924,9.90,SET50 / SETHD,SET50
32,PTTEP,189.00,114.46,28.51,153.239132,17.339076,78.387052,66.127823,195.00,SET50 / SETCLMV / SETHD / SETTHSI,SET50
37,SCB,106.50,17.58,4.04,16.934200,2.566803,10.280251,8.082891,121.50,SET50 / SETCLMV / SETTHSI,SET50
47,TTB,1.36,47.56,11.50,57.489987,8.036178,31.146541,25.056298,1.50,SET50 / SETHD / SETTHSI,SET50

In [15]:
set100 = df_merge[df_merge['mrkt'] == 'SET100']
set100.sort_values('name',ascending=True)

,name,price,inc_pct_y,inc_pct_q,inc_pct_py,inc_pct_pq,mean_pct,std_pct,max_price,market,mrkt
1,AMATA,19.50,97.73,22.70,162.600274,17.227978,75.064563,68.952497,23.00,SET100 / SETCLMV / SETTHSI,SET100
5,BCPG,9.65,23.42,-1.68,-6.403078,94.060629,27.349388,46.360055,13.50,SET100 / SETCLMV / SETHD / SETTHSI,SET100
9,CKP,5.05,20.48,10.03,18.359143,69.164960,29.508526,26.819574,5.90,SET100 / SETCLMV / SETTHSI,SET100
10,COM7,30.50,33.17,5.35,27.022105,16.877357,20.604865,12.188366,43.75,SET100 / SETTHSI / SETWB,SET100
22,KKP,72.50,51.69,7.98,40.983986,2.465573,25.779890,24.241093,76.25,SET100 / SETCLMV / SETHD / SETTHSI,SET100
29,ORI,10.20,12.30,9.76,35.596630,56.555334,28.552991,21.993032,12.70,SET100 / SETHD / SETTHSI,SET100
33,QH,2.22,27.26,20.31,143.433433,24.232426,53.808965,59.817347,2.44,SET100 / SETHD,SET100
39,SPALI,22.70,46.65,13.11,59.856338,32.470782,38.021780,20.021692,23.60,SET100 / SETHD,SET100
41,STARK,3.40,64.78,5.70,31.689119,21.208616,30.844434,25.016179,5.15,SET100,SET100
43,SYNEX,16.50,17.72,2.39,10.797733,12.085288,10.748255,6.331292,37.00,SET100 / SETTHSI,SET100
46,TTA,8.20,104.10,-3.21,-10.261974,40.019311,32.661834,52.557225,12.30,SET100 / SETWB,SET100

### Tickers

In [16]:
name = 'BE8'
sql = """
SELECT * 
FROM tickers
WHERE name = '%s'
"""
sql = sql % name
ticker = pd.read_sql(sql, conmy)
ticker

,id,name,full_name,sector,subsector,market,website,created_at,updated_at
0,744,BE8,BERYL 8 PLUS PUBLIC COMPANY LIMITED,Technology,Technology,mai,www.beryl8.com,2022-08-05 10:12:20.556275,2022-08-05 10:12:20.556275

In [17]:
sql = '''
SELECT * 
FROM tickers
'''
tickers = pd.read_sql(sql, conpg)
tickers.shape

(403, 9)

In [18]:
rcds = tickers.values.tolist()
len(rcds)

403

In [19]:
for rcd in rcds:
    print(rcd)

[697, 'EP', 'EASTERN POWER GROUP PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'sSET', 'www.epco.co.th', Timestamp('2021-06-03 02:53:59.706398'), Timestamp('2021-06-03 02:53:59.706398')]
[8, 'ADVANC', 'ADVANCED INFO SERVICE PUBLIC COMPANY LIMITED', 'Technology', 'Information & Communication Technology', 'SET50 / SETHD / SETTHSI', 'investor.ais.co.th', Timestamp('2018-04-22 04:29:36.118727'), Timestamp('2021-07-07 03:33:38.798595')]
[13, 'AIMIRT', 'AIM INDUSTRIAL GROWTH FREEHOLD AND LEASEHOLD REAL ESTATE INVESTMENT TRUST', 'Property & Construction', 'Property Fund & REITs', 'SET', 'www.aimreit.com', Timestamp('2018-04-22 04:29:36.146073'), Timestamp('2018-04-22 04:29:36.146073')]
[14, 'AIT', 'ADVANCED INFORMATION TECHNOLOGY PUBLIC CO.,LTD.', 'Technology', 'Information & Communication Technology', 'sSET', 'www.ait.co.th', Timestamp('2018-04-22 04:29:36.152088'), Timestamp('2018-04-22 04:29:36.152088')]
[11, 'AH', 'AAPICO HITECH PUBLIC COMPANY LIMITED', 'Industrials', 'Automotive', 'sSET / SETTHSI', 'www.aapico.com', Timestamp('2018-04-22 04:29:36.134601'), Timestamp('2021-07-07 03:33:38.806441')]
[15, 'AJ', 'A.J. PLAST PUBLIC COMPANY LIMITED', 'Industrials', 'Packaging', 'sSET / SETCLMV', 'www.ajplast.co.th', Timestamp('2018-04-22 04:29:36.157101'), Timestamp('2021-07-07 03:33:38.813126')]
[29, 'AP', 'AP (THAILAND) PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET100 / SETHD', 'www.apthai.com', Timestamp('2018-04-22 04:29:36.295770'), Timestamp('2018-04-22 04:29:36.295770')]
[33, 'AQUA', 'AQUA CORPORATION PUBLIC COMPANY LIMITED', 'Services', 'Media & Publishing', 'SET', 'www.aquacorp.co.th', Timestamp('2018-04-22 04:29:36.316984'), Timestamp('2018-04-22 04:29:36.316984')]
[31, 'APCS', 'ASIA PRECISION PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Services', 'sSET', 'www.asiaprecision.com', Timestamp('2018-04-22 04:29:36.306563'), Timestamp('2021-07-07 03:33:38.825781')]
[32, 'APURE', 'AGRIPURE HOLDINGS PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'sSET', 'www.apureholdings.com', Timestamp('2018-04-22 04:29:36.312579'), Timestamp('2021-07-07 03:33:38.827640')]
[701, 'LPF', "LOTUS'S RETAIL GROWTH FREEHOLD AND LEASEHOLD PROPERTY FUND", 'Property & Construction', 'Property Fund & REITs', 'SET', None, Timestamp('2021-07-07 03:33:39.022568'), Timestamp('2021-07-07 03:33:39.022568')]
[44, 'ASP', 'ASIA PLUS GROUP HOLDINGS PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'sSET', 'www.asiaplusgroup.co.th', Timestamp('2018-04-22 04:29:36.379149'), Timestamp('2018-04-22 04:29:36.379149')]
[702, 'ILM', 'INDEX LIVING MALL PUBLIC COMPANY LIMITED', 'Services', 'Commerce', 'sSET', 'www.indexlivingmall.com', Timestamp('2021-08-07 15:07:36.278125'), Timestamp('2021-08-07 15:07:36.278125')]
[46, 'AU', 'AFTER YOU PUBLIC COMPANY LIMITED', 'Agro & Food Industry', None, 'mai', 'www.afteryoudessertcafe.com', Timestamp('2018-04-22 04:29:36.390176'), Timestamp('2018-04-22 04:29:36.390176')]
[47, 'AUCT', 'UNION AUCTION PUBLIC COMPANY LIMITED', 'Services', None, 'mai', 'www.auct.co.th', Timestamp('2018-04-22 04:29:36.394912'), Timestamp('2018-04-22 04:29:36.394912')]
[23, 'AMARIN', 'AMARIN PRINTING AND PUBLISHING PUBLIC COMPANY LIMITED', 'Services', 'Media & Publishing', 'SET', 'www.amarin.com', Timestamp('2018-04-22 04:29:36.260757'), Timestamp('2018-07-04 15:30:18.338387')]
[38, 'ASEFA', 'ASEFA PUBLIC COMPANY LIMITED', 'Industrials', 'Industrial Materials & Machinery', 'SET', 'www.asefa.co.th', Timestamp('2018-04-22 04:29:36.345959'), Timestamp('2018-07-04 15:30:18.485682')]
[9, 'AEONTS', 'AEON THANA SINSAP (THAILAND) PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET100', 'www.aeon.co.th', Timestamp('2018-04-22 04:29:36.124123'), Timestamp('2019-03-03 03:45:00.149450')]
[17, 'AKR', 'EKARAT ENGINEERING PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET', 'www.ekarat.co.th', Timestamp('2018-04-22 04:29:36.168158'), Timestamp('2019-03-03 03:45:00.403277')]
[24, 'AMATA', 'AMATA CORPORATION PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET100 / SETCLMV / SETTHSI', 'www.amata.com', Timestamp('2018-04-22 04:29:36.266775'), Timestamp('2019-03-03 03:45:00.434583')]
[53, 'BAY', 'BANK OF AYUDHYA PUBLIC COMPANY LIMITED', 'Financials', 'Banking', 'SET', 'www.krungsri.com', Timestamp('2018-04-22 04:29:36.430012'), Timestamp('2018-04-22 04:29:36.430012')]
[28, 'AOT', 'AIRPORTS OF THAILAND PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SET50 / SETTHSI / SETWB', 'www.airportthai.co.th', Timestamp('2018-04-22 04:29:36.290018'), Timestamp('2019-11-19 07:13:52.348140')]
[48, 'AYUD', 'ALLIANZ AYUDHYA CAPITAL PUBLIC COMPANY LIMITED', 'Financials', 'Insurance', 'SET', 'www.ayud.co.th', Timestamp('2018-04-22 04:29:36.401349'), Timestamp('2019-11-19 07:13:52.462308')]
[50, 'BAFS', 'BANGKOK AVIATION FUEL SERVICES PCL.', 'Resources', 'Energy & Utilities', 'sSET / SETTHSI', 'www.bafsthai.com', Timestamp('2018-04-22 04:29:36.413629'), Timestamp('2020-07-06 13:23:58.562065')]
[55, 'BCH', 'BANGKOK CHAIN HOSPITAL PUBLIC COMPANY LIMITED', 'Services', 'Health Care Services', 'SET100 / SETWB', 'www.bangkokchainhospital.com', Timestamp('2018-04-22 04:29:36.442067'), Timestamp('2019-11-19 07:13:52.520896')]
[22, 'AMANAH', 'AMANAH LEASING PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'sSET', 'www.amanah.co.th', Timestamp('2018-04-22 04:29:36.255986'), Timestamp('2020-07-06 13:23:58.483615')]
[27, 'ANAN', 'ANANDA DEVELOPMENT PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'sSET', 'www.ananda.co.th', Timestamp('2018-04-22 04:29:36.282999'), Timestamp('2020-07-06 13:23:58.499209')]
[704, '2S', '2S METAL PUBLIC COMPANY LIMITED', 'Industrials', 'Steel and Metal Products', 'SET', 'www.ss.co.th', Timestamp('2021-08-22 15:12:52.288880'), Timestamp('2021-08-22 15:12:52.288880')]
[71, 'BKI', 'BANGKOK INSURANCE PUBLIC COMPANY LIMITED', 'Financials', 'Insurance', 'SET', 'www.bangkokinsurance.com', Timestamp('2018-04-22 04:29:36.533506'), Timestamp('2018-04-22 04:29:36.533506')]
[706, 'BCT', 'BIRLA CARBON (THAILAND) PUBLIC COMPANY LIMITED', 'Industrials', 'Petrochemicals & Chemicals', 'SET', 'www.birlacarbon.com', Timestamp('2021-08-22 15:12:52.300533'), Timestamp('2021-08-22 15:12:52.300533')]
[42, 'ASK', 'ASIA SERMKIJ LEASING PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET', 'www.ask.co.th', Timestamp('2018-04-22 04:29:36.368184'), Timestamp('2022-01-15 03:54:48.237063')]
[51, 'BANPU', 'BANPU PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET50 / SETCLMV / SETTHSI', 'www.banpu.com', Timestamp('2018-04-22 04:29:36.418977'), Timestamp('2022-01-15 03:54:48.247553')]
[708, 'SFLEX', 'STARFLEX PUBLIC COMPANY LIMITED', 'Industrials', 'Packaging', 'sSET', 'www.starflex.co.th', Timestamp('2021-08-22 15:12:52.306051'), Timestamp('2021-08-22 15:12:52.306051')]
[26, 'AMC', 'ASIA METAL PUBLIC COMPANY LIMITED', 'Industrials', 'Steel and Metal Products', 'SET', 'www.asiametal.co.th', Timestamp('2018-04-22 04:29:36.278054'), Timestamp('2021-08-22 18:22:07.259053')]
[713, 'IP', 'INTER PHARMA PUBLIC COMPANY LIMITED', 'Consumer Products', 'Consumer Products', 'mai', 'www.interpharma.co.th', Timestamp('2021-10-25 15:08:35.006030'), Timestamp('2021-10-25 15:08:35.006030')]
[714, 'TYCN', 'TYCOONS WORLDWIDE GROUP (THAILAND) PUBLIC CO.,LTD.', 'Industrials', 'Steel and Metal Products', 'SET', 'www.tycons.com', Timestamp('2021-11-04 15:13:55.164789'), Timestamp('2021-11-04 15:13:55.164789')]
[715, 'INSET', 'INFRASET PUBLIC COMPANY LIMITED', 'Technology', 'Technology', 'mai', 'www.infraset.co.th', Timestamp('2021-11-27 02:53:02.069805'), Timestamp('2021-11-27 02:53:02.069805')]
[35, 'ARROW', 'ARROW SYNDICATE PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property & Construction', 'mai', 'www.arrowpipe.com', Timestamp('2018-04-22 04:29:36.328888'), Timestamp('2022-01-15 03:54:48.233454')]
[40, 'ASIAN', 'ASIAN SEA CORPORATION PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'sSET / SETTHSI', 'www.asianseafoods.co.th', Timestamp('2018-04-22 04:29:36.356981'), Timestamp('2022-01-15 03:54:48.235305')]
[705, 'ASW', 'ASSETWISE PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'sSET', 'www.assetwise.co.th', Timestamp('2021-08-22 15:12:52.296927'), Timestamp('2022-01-15 03:54:48.239827')]
[49, 'BA', 'BANGKOK AIRWAYS PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SETWB', 'www.bangkokair.com', Timestamp('2018-04-22 04:29:36.407546'), Timestamp('2022-01-15 03:54:48.244763')]
[707, 'IMH', 'INTERMEDICAL CARE AND LAB HOSPITAL PUBLIC COMPANY LIMITED', 'Services', 'Services', 'mai', 'www.intermedthai.com/', Timestamp('2021-08-22 15:12:52.303160'), Timestamp('2022-01-15 03:54:48.372913')]
[695, 'MBAX', 'MULTIBAX PUBLIC COMPANY LIMITED', 'Industrial', 'Industrial', 'mai', 'www.multibax.com', Timestamp('2017-07-23 06:31:24.517698'), Timestamp('2022-01-15 03:54:48.419041')]
[696, 'TIDLOR', 'NGERN TID LOR PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET50', 'www.ngerntidlor.com/th/home.html', Timestamp('2021-05-10 23:20:28.115721'), Timestamp('2022-01-15 03:54:48.551252')]
[703, 'VNG', 'VANACHAI GROUP PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Materials', 'sSET / SETCLMV', 'www.vanachai.com', Timestamp('2021-08-14 06:09:40.594032'), Timestamp('2022-01-15 03:54:48.599061')]
[717, 'KEX', 'KERRY EXPRESS (THAILAND) PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SET100 / SETTHSI / SETWB', 'https://th.kerryexpress.com/th/home', Timestamp('2022-01-15 04:28:34.791314'), Timestamp('2022-01-15 04:28:34.791314')]
[718, 'ONEE', 'THE ONE ENTERPRISE PUBLIC COMPANY LIMITED', 'Services', 'Media & Publishing', 'SET100', 'www.theoneenterprise.com', Timestamp('2022-07-03 00:18:22.223224'), Timestamp('2022-07-03 00:18:22.223224')]
[719, 'ALLY,ALLY LEASEHOLD REAL ESTATE INVESTMENT TRUST,Property & Construction,Property Fund & REITs,SET,www.allyreit.com', None, None, None, None, None, Timestamp('2022-07-13 09:57:39.085887'), Timestamp('2022-07-13 09:57:39.085887')]
[720, 'BE8,BERYL 8 PLUS PUBLIC COMPANY LIMITED,Technology,Technology,mai,www.beryl8.com', None, None, None, None, None, Timestamp('2022-08-03 08:20:03.078263'), Timestamp('2022-08-03 08:20:03.078263')]
[76, 'BOFFICE', 'BHIRAJ OFFICE LEASEHOLD REAL ESTATE INVESTMENT TRUST', 'Property & Construction', 'Property Fund & REITs', 'SET', 'www.bofficereit.com', Timestamp('2018-04-22 04:29:36.562568'), Timestamp('2018-04-22 04:29:36.562568')]
[60, 'BEC', 'BEC WORLD PUBLIC COMPANY LIMITED', 'Services', 'Media & Publishing', 'SET100', 'www.becworld.com', Timestamp('2018-04-22 04:29:36.470823'), Timestamp('2021-07-07 03:33:38.857810')]
[87, 'BTSGIF', 'BTS RAIL MASS TRANSIT GROWTH INFRASTRUCTURE FUND', 'Services', 'Transportation & Logistics', 'SET', 'www.btsgif.com', Timestamp('2018-04-22 04:29:36.637953'), Timestamp('2018-04-22 04:29:36.637953')]
[91, 'CCET', 'CAL-COMP ELECTRONICS (THAILAND) PUBLIC CO., LTD.', 'Technology', 'Electronic Components', 'sSET', 'www.calcomp.co.th', Timestamp('2018-04-22 04:29:36.681704'), Timestamp('2021-07-07 03:33:38.878413')]
[92, 'CCP', 'CHONBURI CONCRETE PRODUCT PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Materials', 'SET', 'www.ccp.co.th', Timestamp('2018-04-22 04:29:36.687151'), Timestamp('2018-04-22 04:29:36.687151')]
[97, 'CGH', 'COUNTRY GROUP HOLDINGS PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'sSET', 'www.cgholdings.co.th', Timestamp('2018-04-22 04:29:36.714965'), Timestamp('2021-07-07 03:33:38.882310')]
[83, 'BSBM', 'BANGSAPHAN BARMILL PUBLIC COMPANY LIMITED', 'Industrials', 'Steel and Metal Products', 'SET', 'www.bsbm.co.th', Timestamp('2018-04-22 04:29:36.616028'), Timestamp('2021-08-22 18:22:07.314686')]
[63, 'BGRIM', 'B.GRIMM POWER PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET50 / SETCLMV / SETTHSI', 'www.bgrimmpower.com', Timestamp('2018-04-22 04:29:36.486869'), Timestamp('2019-03-03 03:45:01.036201')]
[107, 'CIMBT', 'CIMB THAI BANK PUBLIC COMPANY LIMITED', 'Financials', 'Banking', 'SET', 'www.cimbthai.com', Timestamp('2018-04-22 04:29:36.769613'), Timestamp('2018-04-22 04:29:36.769613')]
[65, 'BH', 'BUMRUNGRAD HOSPITAL PUBLIC COMPANY LIMITED', 'Services', 'Health Care Services', 'SET50 / SETCLMV / SETWB', 'www.bumrungrad.com', Timestamp('2018-04-22 04:29:36.498902'), Timestamp('2019-11-19 07:13:52.572757')]
[74, 'BLAND', 'BANGKOK LAND PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET', 'www.bangkokland.co.th', Timestamp('2018-04-22 04:29:36.550524'), Timestamp('2020-07-06 13:23:58.655824')]
[90, 'CBG', 'CARABAO GROUP PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'SET50 / SETCLMV / SETWB', 'www.carabaogroup.com', Timestamp('2018-04-22 04:29:36.676657'), Timestamp('2019-11-19 07:13:52.645296')]
[94, 'CENTEL', 'CENTRAL PLAZA HOTEL PUBLIC COMPANY LIMITED', 'Services', 'Tourism & Leisure', 'SET100 / SETTHSI / SETWB', 'www.centarahotelsresorts.com', Timestamp('2018-04-22 04:29:36.697973'), Timestamp('2019-11-19 07:13:52.658266')]
[101, 'CHG', 'CHULARAT HOSPITAL PUBLIC COMPANY LIMITED', 'Services', 'Health Care Services', 'SET100 / SETWB', 'www.chularat.com', Timestamp('2018-04-22 04:29:36.736498'), Timestamp('2019-11-19 07:13:52.679265')]
[716, 'UOBKH', 'UOB KAY HIAN SECURITIES (THAILAND) PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET', 'https://www.utrade.co.th/', Timestamp('2021-11-27 03:27:14.481201'), Timestamp('2021-11-27 03:27:14.481201')]
[709, 'AAV', 'ASIA AVIATION PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'sSET / SETTHSI', 'www.aavplc.com', Timestamp('2021-08-29 06:32:10.450906'), Timestamp('2022-01-15 03:54:48.204869')]
[59, 'BEAUTY', 'BEAUTY COMMUNITY PUBLIC COMPANY LIMITED', 'Services', 'Commerce', 'SET', 'www.beautycommunity.co.th', Timestamp('2018-04-22 04:29:36.464423'), Timestamp('2022-01-15 03:54:48.257841')]
[86, 'BTS', 'BTS GROUP HOLDINGS PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SET50 / SETTHSI / SETWB', 'www.btsgroup.co.th', Timestamp('2018-04-22 04:29:36.632245'), Timestamp('2020-07-06 13:23:58.687066')]
[68, 'BJC', 'BERLI JUCKER PUBLIC COMPANY LIMITED', 'Services', 'Commerce', 'SETCLMV / SETTHSI / SETWB', 'www.bjc.co.th', Timestamp('2018-04-22 04:29:36.516330'), Timestamp('2022-01-15 03:54:48.271965')]
[82, 'BRR', 'BURIRAM SUGAR PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'sSET', 'www.buriramsugar.com', Timestamp('2018-04-22 04:29:36.610114'), Timestamp('2022-01-15 03:54:48.279382')]
[99, 'CHAYO', 'CHAYO GROUP PUBLIC COMPANY LIMITED', 'Financials', 'Finance & Securities', 'SET', 'www.chayo555.com', Timestamp('2018-04-22 04:29:36.725800'), Timestamp('2022-01-15 03:54:48.288817')]
[710, 'NRF', 'NR INSTANT PRODUCE PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'SET', 'https://www.nrinstant.com/', Timestamp('2021-08-29 06:32:10.461477'), Timestamp('2022-01-15 03:54:48.436055')]
[712, 'STARK', 'STARK CORPORATION PUBLIC COMPANY LIMITED', 'Industrials', 'Industrial Materials & Machinery', 'SET100 / SETCLMV', 'www.starkcorporation.com', Timestamp('2021-08-29 06:32:10.468382'), Timestamp('2022-01-15 03:54:48.527979')]
[73, 'BLA', 'BANGKOK LIFE ASSURANCE PUBLIC COMPANY LIMITED', 'Financials', 'Insurance', 'SET50 / SETTHSI', 'www.bangkoklife.com', Timestamp('2018-04-22 04:29:36.544508'), Timestamp('2022-01-15 03:54:48.274772')]
[711, 'PSL', 'PRECIOUS SHIPPING PUBLIC COMPANY LIMITED', 'Services', 'Transportation & Logistics', 'SET100', 'www.preciousshipping.com', Timestamp('2021-08-29 06:32:10.465249'), Timestamp('2022-01-15 03:54:48.462830')]
[721, 'BE8', 'BERYL 8 PLUS PUBLIC COMPANY LIMITED', 'Technology', 'Technology', 'mai', 'www.beryl8.com', Timestamp('2022-08-05 10:06:47.629079'), Timestamp('2022-08-05 10:06:47.629079')]
[123, 'CPI', 'CHUMPORN PALM OIL INDUSTRY PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'SET', 'www.cpi-th.com', Timestamp('2018-04-22 04:29:36.878447'), Timestamp('2018-04-22 04:29:36.878447')]
[126, 'CPNCG', 'CPN COMMERCIAL GROWTH LEASEHOLD PROPERTY FUND', 'Property & Construction', 'Property Fund & REITs', 'SET', 'www.cpncg.com', Timestamp('2018-04-22 04:29:36.894495'), Timestamp('2018-04-22 04:29:36.894495')]
[127, 'CPNREIT', 'CPN RETAIL GROWTH LEASEHOLD REIT', 'Property & Construction', 'Property Fund & REITs', 'SET', 'www.cpnreit.com', Timestamp('2018-04-22 04:29:36.900508'), Timestamp('2018-04-22 04:29:36.900508')]
[133, 'CSC', 'CROWN SEAL PUBLIC COMPANY LIMITED', 'Industrials', 'Packaging', 'SET', 'www.crownseal.co.th', Timestamp('2018-04-22 04:29:36.935013'), Timestamp('2018-04-22 04:29:36.935013')]
[139, 'CWT', 'CHAI WATANA TANNERY GROUP PUBLIC COMPANY LIMITED', 'Industrials', 'Automotive', 'SET', 'www.cwt.co.th', Timestamp('2018-04-22 04:29:36.992433'), Timestamp('2018-04-22 04:29:36.992433')]
[141, 'DCON', 'DCON PRODUCTS PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Materials', 'SET', 'www.dconproduct.com', Timestamp('2018-04-22 04:29:37.004166'), Timestamp('2018-04-22 04:29:37.004166')]
[151, 'DUSIT', 'DUSIT THANI PUBLIC COMPANY LIMITED', 'Services', 'Tourism & Leisure', 'SET', 'www.dusit.com', Timestamp('2018-04-22 04:29:37.057835'), Timestamp('2018-04-22 04:29:37.057835')]
[146, 'DIF', 'DIGITAL TELECOMMUNICATIONS INFRASTRUCTURE FUND', 'Technology', 'Information & Communication Technology', 'SET', 'www.digital-tif.com', Timestamp('2018-04-22 04:29:37.030748'), Timestamp('2018-04-22 04:29:37.030748')]
[121, 'CPF', 'CHAROEN POKPHAND FOODS PUBLIC COMPANY LIMITED', 'Agro & Food Industry', 'Food & Beverage', 'SET50 / SETCLMV / SETHD / SETTHSI / SETWB', 'www.cpfworldwide.com', Timestamp('2018-04-22 04:29:36.867977'), Timestamp('2021-07-07 03:33:38.893396')]
[137, 'CSS', 'COMMUNICATION AND SYSTEM SOLUTION PUBLIC COMPANY LIMITED', 'Services', 'Commerce', 'SET', 'www.cssthai.com', Timestamp('2018-04-22 04:29:36.980401'), Timestamp('2018-07-04 15:30:18.847062')]
[138, 'CTW', 'CHAROONG THAI WIRE & CABLE PUBLIC COMPANY LIMITED', 'Industrials', 'Industrial Materials & Machinery', 'sSET', 'www.ctw.co.th', Timestamp('2018-04-22 04:29:36.986424'), Timestamp('2021-07-07 03:33:38.904978')]
[143, 'DDD', 'DO DAY DREAM PUBLIC COMPANY LIMITED', 'Consumer Products', 'Personal Products & Pharmaceuticals', 'sSET', 'www.dodaydream.com', Timestamp('2018-04-22 04:29:37.014603'), Timestamp('2019-03-03 03:45:01.305276')]
[153, 'EA', 'ENERGY ABSOLUTE PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET50 / SETTHSI', 'www.energyabsolute.co.th', Timestamp('2018-04-22 04:29:37.068618'), Timestamp('2019-03-03 03:45:01.336519')]
[160, 'EGATIF', 'NORTH BANGKOK POWER PLANT BLOCK 1 INFRASTRUCTURE FUND, ELECTRICITY GENERATING AUTHORITY OF THAILAND', 'Resources', 'Energy & Utilities', 'SET', 'www.ktam.co.th', Timestamp('2018-04-22 04:29:37.128806'), Timestamp('2018-04-22 04:29:37.128806')]
[169, 'ESSO', 'ESSO (THAILAND) PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'SET100', 'www.esso.co.th', Timestamp('2018-04-22 04:29:37.176564'), Timestamp('2018-04-22 04:29:37.176564')]
[149, 'DRT', 'DIAMOND BUILDING PRODUCTS PUBLIC COMPANY LIMITED', 'Property & Construction', 'Construction Materials', 'sSET / SETCLMV / SETTHSI', 'www.dbp.co.th', Timestamp('2018-04-22 04:29:37.045816'), Timestamp('2021-07-07 03:33:38.915472')]
[172, 'EVER', 'EVERLAND PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET', 'www.everland.co.th', Timestamp('2018-04-22 04:29:37.193489'), Timestamp('2018-04-22 04:29:37.193489')]
[125, 'CPN', 'CENTRAL PATTANA PUBLIC COMPANY LIMITED', 'Property & Construction', 'Property Development', 'SET50 / SETTHSI', 'www.centralpattana.co.th', Timestamp('2018-04-22 04:29:36.889481'), Timestamp('2020-07-06 13:23:58.874529')]

In [20]:
for rcd in rcds:
    conmy.execute("""INSERT INTO tickers (id, name, full_name, sector, \
subsector, market, website, created_at, \
updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

InterfaceError: (sqlite3.InterfaceError) Error binding parameter 7 - probably unsupported type.
[SQL: INSERT INTO tickers (id, name, full_name, sector, subsector, market, website, created_at, updated_at) VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (697, 'EP', 'EASTERN POWER GROUP PUBLIC COMPANY LIMITED', 'Resources', 'Energy & Utilities', 'sSET', 'www.epco.co.th', Timestamp('2021-06-03 02:53:59.706398'), Timestamp('2021-06-03 02:53:59.706398'))]
(Background on this error at: https://sqlalche.me/e/14/rvf5)

In [ ]:
sql = 'SELECT * FROM tickers ORDER BY id'
tickers_out = pd.read_sql(sql, conmy)
tickers_out.tail()

### End of Tickers

### Stocks

In [21]:
name = 'BE8'
sql = """
SELECT * 
FROM stocks
WHERE name = '%s'
"""
sql = sql % name
stock = pd.read_sql(sql, conmy)
stock

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
0,742,BE8,mai,60,66.75,27.5,116.15,10.19,107.3,12875.66,134.4,1.27,744,2022-08-05 10:24:25.488053,2022-11-11 23:14:06.901282

In [22]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_inp = pd.read_sql(sql, conlt)
stocks_inp.tail()

,id,name,market,price,max_price,min_price,pe,pbv,paid_up,market_cap,daily_volume,beta,ticker_id,created_at,updated_at
228,742,ONEE,SET100,9.25,13.10,8.85,27.44,3.10,4762.50,22026.56,97.17,1.54,741,2022-07-03 13:31:30.729630,2022-11-11 23:13:50.607602
229,743,BE8,mai,60.00,66.75,27.50,116.15,10.19,107.30,12875.66,134.40,1.27,745,2022-08-05 10:22:48.605460,2022-11-11 23:13:49.797175
230,744,FPT,SET,15.40,15.60,10.50,14.49,0.99,2319.28,35716.87,2.03,0.36,746,2022-08-07 08:05:35.953885,2022-11-11 23:13:50.155237
231,745,III,sSET,14.20,18.50,11.40,18.87,4.64,320.42,9099.92,88.34,1.02,637,2022-11-09 12:57:49.029780,2022-11-11 23:13:50.262108
232,746,SABUY,SET,12.70,38.00,10.40,18.14,2.40,1487.19,18887.34,319.76,2.07,721,2022-11-09 12:57:49.041451,2022-11-11 23:13:50.822727

In [23]:
rcds = stocks_inp.values.tolist()
len(rcds)

233

In [24]:
for rcd in rcds:
    print(rcd)

[6, 'ADVANC', 'SET50 / SETHD / SETTHSI    ', 189.0, 242.0, 181.5, 22.03, 7.2, 2974.21, 562125.64, 1352.8, 0.85, 6, '2017-07-23 07:24:20.932036', '2022-11-11 23:13:49.619680']
[7, 'AEONTS', 'SET100    ', 161.0, 209.0, 152.0, 10.75, 1.87, 250.0, 40250.0, 67.35, 1.02, 7, '2017-07-23 07:24:21.066435', '2022-11-11 23:13:49.627351']
[9, 'AH', 'sSET / SETTHSI    ', 30.25, 34.25, 19.4, 9.13, 1.17, 354.84, 10733.97, 58.84, 1.35, 9, '2017-07-23 07:24:21.297212', '2022-11-11 23:13:49.635228']
[11, 'AIT', 'sSET    ', 7.05, 9.3, 5.4, 16.12, 2.58, 1331.13, 9384.43, 78.23, 1.34, 11, '2017-07-23 07:24:21.511814', '2022-11-11 23:13:49.657807']
[12, 'AJ', 'sSET / SETCLMV    ', 12.6, 19.6, 12.0, 13.11, 1.12, 440.0, 5544.0, 15.5, 0.96, 12, '2017-07-23 07:24:21.638902', '2022-11-11 23:13:49.665777']
[21, 'AMATA', 'SET100 / SETCLMV / SETTHSI    ', 19.5, 23.0, 17.1, 10.33, 1.19, 1150.0, 22425.0, 162.8, 1.52, 21, '2017-07-23 07:24:22.672618', '2022-11-11 23:13:49.673696']
[23, 'ANAN', 'sSET    ', 1.43, 1.74, 1.11, 999.99, 0.41, 416.63, 5957.74, 25.57, 1.24, 23, '2017-07-23 07:24:22.911535', '2022-11-11 23:13:49.681682']
[24, 'AOT', 'SET50 / SETTHSI / SETWB    ', 75.75, 76.25, 58.5, 999.99, 10.55, 14285.7, 1082141.77, 1758.74, 0.86, 24, '2017-07-23 07:24:23.040644', '2022-11-11 23:13:49.689353']
[25, 'AP', 'SET100 / SETHD    ', 10.3, 12.0, 8.65, 5.67, 0.91, 3145.9, 32402.76, 175.55, 0.87, 25, '2017-07-23 07:24:23.155772', '2022-11-11 23:13:49.696285']
[36, 'ASIAN', 'sSET / SETTHSI    ', 15.2, 19.4, 14.3, 12.12, 2.9, 814.09, 12374.13, 95.27, 1.0, 36, '2017-07-23 07:24:24.591078', '2022-11-11 23:13:49.704166']
[38, 'ASK', 'SET    ', 36.0, 49.5, 28.25, 13.89, 2.0, 2639.22, 19002.36, 56.07, 1.58, 38, '2017-07-23 07:24:24.813799', '2022-11-11 23:13:49.709683']
[40, 'ASP', 'sSET    ', 3.0, 4.2, 2.94, 10.91, 1.34, 2105.66, 6316.97, 31.4, 0.71, 40, '2017-07-23 07:24:25.107334', '2022-11-11 23:13:49.716717']
[45, 'BA', 'SET    ', 13.6, 14.7, 8.4, 999.99, 2.1, 2100.0, 28560.0, 49.74, 1.36, 45, '2017-07-23 07:24:25.672405', '2022-11-11 23:13:49.734403']
[47, 'BANPU', 'SET50 / SETCLMV / SETTHSI    ', 12.8, 15.0, 10.1, 2.44, 1.05, 8454.16, 108213.27, 1680.75, 0.91, 47, '2017-07-23 07:24:25.883582', '2022-11-11 23:13:49.747066']
[49, 'BAY', 'SET    ', 31.75, 39.25, 30.0, 7.86, 0.7, 73557.62, 233545.44, 29.01, 0.75, 49, '2017-07-23 07:24:26.121801', '2022-11-11 23:13:49.753417']
[50, 'BBL', 'SET50 / SETCLMV / SETHD / SETTHSI    ', 145.5, 149.0, 111.0, 9.9, 0.54, 19088.43, 277736.64, 1499.69, 1.03, 50, '2017-07-23 07:24:26.222243', '2022-11-11 23:13:49.758941']
[51, 'BCH', 'SET100 / SETCLMV / SETHD / SETWB    ', 19.7, 23.1, 16.8, 9.36, 3.61, 2493.75, 49126.84, 397.63, 0.04, 51, '2017-07-23 07:24:26.361750', '2022-11-11 23:13:49.766436']
[52, 'BCP', 'SET100 / SETCLMV / SETTHSI    ', 32.75, 37.0, 24.0, 3.21, 0.71, 1376.92, 45094.23, 239.61, 0.77, 52, '2017-07-23 07:24:26.477626', '2022-11-11 23:13:49.772109']
[53, 'BCPG', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 9.65, 13.5, 8.7, 10.91, 0.97, 14538.44, 28059.19, 110.25, 1.15, 53, '2017-07-23 07:24:26.597527', '2022-11-11 23:13:49.778215']
[54, 'BDMS', 'SET50 / SETCLMV / SETTHSI / SETWB    ', 31.25, 32.0, 21.5, 44.13, 5.71, 1589.2, 496625.06, 1310.28, 0.42, 54, '2017-07-23 07:24:26.698061', '2022-11-11 23:13:49.791240']
[55, 'BEAUTY', 'sSET    ', 1.33, 1.74, 1.21, 999.99, 5.35, 299.42, 3982.28, 15.3, 1.24, 55, '2017-07-23 07:24:26.805733', '2022-11-11 23:13:49.802941']
[56, 'BEC', 'SET100    ', 10.3, 17.9, 9.15, 26.24, 3.42, 2000.0, 20600.0, 133.19, 1.32, 56, '2017-07-23 07:24:26.896492', '2022-11-11 23:13:49.810174']
[57, 'BEM', 'SET50 / SETTHSI / SETWB    ', 9.4, 9.65, 7.9, 97.44, 3.8, 15285.0, 143679.0, 378.69, 0.8, 57, '2017-07-23 07:24:26.999034', '2022-11-11 23:13:49.816176']
[59, 'BGRIM', 'SET50 / SETCLMV / SETTHSI    ', 37.25, 43.25, 29.75, 205.35, 3.13, 5213.8, 97107.02, 446.38, 1.32, 59, '2017-07-23 07:24:27.249675', '2022-11-11 23:13:49.829145']
[61, 'BH', 'SET50 / SETCLMV / SETWB    ', 239.0, 241.0, 132.5, 47.49, 10.87, 794.89, 189977.69, 929.27, 0.49, 61, '2017-07-23 07:24:27.506069', '2022-11-11 23:13:49.834836']
[65, 'BJC', 'SETCLMV / SETTHSI / SETWB    ', 33.25, 37.5, 29.25, 27.97, 1.14, 4007.8, 133259.24, 163.79, 1.03, 65, '2017-07-23 07:24:28.080766', '2022-11-11 23:13:49.840977']
[68, 'BKI', 'SET    ', 276.0, 290.0, 263.0, 999.99, 0.99, 1064.7, 29385.72, 8.9, 0.24, 68, '2017-07-23 07:24:28.473301', '2022-11-11 23:13:49.846897']
[70, 'BLA', 'SET50 / SETTHSI    ', 30.5, 48.0, 28.75, 15.12, 1.22, 1707.57, 52080.76, 297.89, 0.79, 70, '2017-07-23 07:24:28.700670', '2022-11-11 23:13:49.852957']
[71, 'BLAND', 'SET    ', 1.01, 1.12, 0.94, 22.75, 0.39, 17374.4, 17548.15, 12.33, 0.7, 71, '2017-07-23 07:24:28.815016', '2022-11-11 23:13:49.858692']
[74, 'BPP', 'SETCLMV / SETTHSI    ', 15.4, 17.8, 13.9, 7.46, 0.96, 30477.32, 46935.07, 27.85, 0.8, 74, '2017-07-23 07:24:29.294209', '2022-11-11 23:13:49.864138']
[83, 'BTS', 'SET50 / SETTHSI / SETWB    ', 8.4, 10.2, 7.85, 37.13, 1.76, 52670.55, 110608.16, 336.81, 0.88, 83, '2017-07-23 07:24:30.421511', '2022-11-11 23:13:49.870657']
[84, 'BTSGIF', 'SET    ', 4.02, 4.4, 3.76, 999.99, 0.6, 54378.26, 23267.76, 9.01, 0.51, 84, '2017-07-23 07:24:30.594311', '2022-11-11 23:13:49.881510']
[87, 'CBG', 'SET50 / SETCLMV / SETWB    ', 98.5, 125.0, 80.25, 37.64, 9.32, 1000.0, 98500.0, 656.94, 1.07, 87, '2017-07-23 07:24:31.114301', '2022-11-11 23:13:49.892731']
[92, 'CENTEL', 'SET100 / SETTHSI    ', 50.25, 52.0, 30.0, 999.99, 3.72, 1350.0, 67837.5, 172.62, 1.21, 92, '2017-07-23 07:24:31.721637', '2022-11-11 23:13:49.902456']
[98, 'CHG', 'SET100 / SETHD / SETWB    ', 3.56, 4.16, 3.08, 6.98, 4.94, 1100.0, 39160.0, 202.51, -0.08, 98, '2017-07-23 07:24:32.443979', '2022-11-11 23:13:49.910175']
[106, 'CK', 'SET100 / SETCLMV / SETTHSI    ', 23.4, 23.9, 17.9, 48.45, 1.54, 1693.9, 39637.19, 125.03, 0.96, 106, '2017-07-23 07:24:33.396161', '2022-11-11 23:13:49.922806']
[107, 'CKP', 'SET100 / SETCLMV / SETTHSI    ', 5.05, 5.9, 4.7, 18.16, 1.66, 8129.38, 41053.38, 86.53, 1.1, 107, '2017-07-23 07:24:33.505549', '2022-11-11 23:13:49.932498']
[114, 'COM7', 'SET100 / SETTHSI / SETWB    ', 30.5, 43.75, 26.25, 25.25, 14.11, 600.0, 73199.95, 559.91, 1.29, 114, '2017-07-23 07:24:34.369448', '2022-11-11 23:13:49.940345']
[116, 'CPALL', 'SET50 / SETTHSI / SETWB    ', 61.5, 69.0, 52.75, 37.7, 5.26, 8983.1, 552460.73, 1626.13, 0.95, 116, '2017-07-23 07:24:34.602486', '2022-11-11 23:13:49.962216']
[117, 'CPF', 'SET50 / SETCLMV / SETHD / SETTHSI / SETWB    ', 25.25, 27.5, 22.7, 25.28, 0.84, 8611.24, 217433.87, 628.58, 0.82, 117, '2017-07-23 07:24:34.714774', '2022-11-11 23:13:49.970974']
[121, 'CPN', 'SET50 / SETTHSI    ', 71.5, 72.25, 50.5, 32.72, 4.05, 2244.0, 320892.0, 590.24, 1.32, 121, '2017-07-23 07:24:35.181173', '2022-11-11 23:13:49.977910']
[122, 'CPNCG', 'SET    ', 11.5, 12.7, 10.4, 999.99, 1.0, 4394.38, 4906.35, 2.71, 0.44, 122, '2017-07-23 07:24:35.288424', '2022-11-11 23:13:49.984088']
[135, 'DCC', 'SET    ', 2.72, 3.18, 2.58, 14.81, 4.24, 912.56, 24821.66, 38.24, 0.62, 135, '2017-07-23 07:24:36.765074', '2022-11-11 23:13:50.021654']
[136, 'DCON', 'SET    ', 0.37, 0.64, 0.37, 15.71, 0.8, 538.63, 1992.95, 4.15, 1.28, 136, '2017-07-23 07:24:36.871960', '2022-11-11 23:13:50.029294']
[138, 'DELTA', 'SET    ', 620.0, 708.0, 287.0, 58.37, 15.02, 1247.38, 773376.6, 1249.93, 2.69, 138, '2017-07-23 07:24:37.094881', '2022-11-11 23:13:50.034955']
[140, 'DIF', 'SET    ', 13.4, 14.5, 13.0, 999.99, 0.81, 106316.54, 142464.16, 194.23, 0.28, 140, '2017-07-23 07:24:37.350968', '2022-11-11 23:13:50.040621']
[143, 'DRT', 'sSET / SETCLMV / SETTHSI    ', 7.75, 9.2, 6.9, 11.03, 2.95, 855.03, 6626.51, 4.18, 0.67, 143, '2017-07-23 07:24:37.868511', '2022-11-11 23:13:50.051520']
[144, 'DTAC', 'SET50    ', 44.0, 51.5, 35.75, 43.6, 5.82, 4735.62, 104183.68, 398.57, 0.93, 144, '2017-07-23 07:24:38.038517', '2022-11-11 23:13:50.062823']
[148, 'EA', 'SET50 / SETTHSI    ', 98.5, 105.5, 66.5, 61.65, 10.87, 373.0, 367405.0, 1376.58, 1.29, 148, '2017-07-23 07:24:38.754891', '2022-11-11 23:13:50.076998']
[151, 'EASTW', 'sSET / SETTHSI    ', 5.2, 10.0, 4.9, 10.64, 0.76, 1663.73, 8651.37, 18.98, 0.67, 151, '2017-07-23 07:24:39.214466', '2022-11-11 23:13:50.087677']
[153, 'ECL', 'SET    ', 2.14, 3.82, 1.61, 11.12, 1.28, 1108.86, 2372.96, 57.05, 1.75, 153, '2017-07-23 07:24:39.610365', '2022-11-11 23:13:50.095153']
[156, 'EGATIF', 'SET    ', 6.7, 12.3, 6.45, 999.99, 0.72, 18936.34, 13972.85, 12.58, 0.35, 156, '2017-07-23 07:24:40.155748', '2022-11-11 23:13:50.106935']
[157, 'EGCO', 'SET50 / SETCLMV / SETHD / SETTHSI    ', 173.5, 190.0, 159.5, 17.08, 0.74, 5264.65, 91341.68, 235.75, 0.63, 157, '2017-07-23 07:24:40.280615', '2022-11-11 23:13:50.112642']
[162, 'EPG', 'SET100 / SETTHSI    ', 10.2, 12.6, 8.6, 21.14, 2.37, 2800.0, 28560.0, 83.93, 1.25, 162, '2017-07-23 07:24:41.080650', '2022-11-11 23:13:50.124127']
[165, 'ESSO', 'SET100    ', 13.4, 15.0, 7.15, 3.92, 1.61, 17075.18, 46375.5, 259.2, 0.99, 165, '2017-07-23 07:24:41.623403', '2022-11-11 23:13:50.137055']
[176, 'FORTH', 'SET100    ', 41.75, 64.0, 18.3, 54.22, 21.06, 480.0, 40080.0, 233.44, 1.15, 176, '2017-07-23 07:24:43.563024', '2022-11-11 23:13:50.146913']
[178, 'FSMART', 'mai    ', 16.6, 28.0, 10.0, 36.81, 10.96, 390.0, 12948.0, 220.02, 1.22, 178, '2017-07-23 07:24:43.909919', '2022-11-11 23:13:50.166934']
[183, 'GC', 'SET    ', 5.45, 7.45, 4.64, 13.81, 4.4, 220.0, 2398.0, 2.99, 1.04, 183, '2017-07-23 07:24:44.871750', '2022-11-11 23:13:50.176764']
[187, 'GFPT', 'sSET / SETTHSI / SETWB    ', 14.3, 18.7, 11.6, 10.89, 1.12, 1253.82, 17929.64, 106.03, 0.62, 187, '2017-07-23 07:24:45.610475', '2022-11-11 23:13:50.183519']
[188, 'GGC', 'SET    ', 15.0, 16.3, 11.0, 17.23, 1.49, 9724.83, 15355.0, 8.78, 0.81, 188, '2017-07-23 07:24:45.913164', '2022-11-11 23:13:50.189805']
[193, 'GLOBAL', 'SET50 / SETCLMV / SETTHSI / SETWB    ', 20.2, 23.7, 16.8, 26.17, 4.54, 4801.74, 96995.08, 238.13, 1.0, 193, '2017-07-23 07:24:46.860402', '2022-11-11 23:13:50.195332']
[197, 'GPSC', 'SET50 / SETCLMV / SETTHSI    ', 67.25, 89.75, 57.25, 75.97, 1.77, 28197.29, 189626.8, 743.79, 1.22, 197, '2017-07-23 07:24:47.646070', '2022-11-11 23:13:50.201107']
[198, 'GRAMMY', 'SET    ', 10.8, 14.6, 10.0, 999.99, 7.17, 819.95, 8855.46, 0.33, 0.76, 198, '2017-07-23 07:24:47.830445', '2022-11-11 23:13:50.206671']
[202, 'GUNKUL', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 5.3, 7.2, 4.5, 14.14, 3.22, 2220.63, 47077.41, 493.48, 1.52, 202, '2017-07-23 07:24:48.612669', '2022-11-11 23:13:50.221448']
[205, 'HANA', 'SET100 / SETHD / SETTHSI    ', 39.0, 96.25, 32.75, 28.09, 1.37, 804.88, 31390.28, 523.83, 1.96, 205, '2017-07-23 07:24:49.153281', '2022-11-11 23:13:50.232975']
[207, 'HFT', 'sSET    ', 6.55, 8.65, 5.95, 8.83, 1.18, 658.43, 4312.74, 5.44, 0.88, 207, '2017-07-23 07:24:49.463927', '2022-11-11 23:13:50.238540']
[208, 'HMPRO', 'SET50 / SETTHSI / SETWB    ', 14.8, 16.6, 12.4, 30.7, 8.61, 13151.2, 194637.73, 462.91, 1.04, 208, '2017-07-23 07:24:49.596713', '2022-11-11 23:13:50.245117']
[211, 'WHAIR', 'SET    ', 7.45, 9.15, 7.05, 999.99, 0.81, 7441.24, 6259.0, 3.9, 0.24, 211, '2017-07-23 07:24:50.020948', '2022-11-11 23:13:51.369411']
[212, 'HTC', 'sSET / SETTHSI    ', 29.25, 38.0, 28.0, 13.93, 1.61, 200.96, 5878.09, 7.33, 0.9, 212, '2017-07-23 07:24:50.130034', '2022-11-11 23:13:50.251106']
[216, 'ICHI', 'sSET / SETCLMV    ', 11.3, 12.2, 7.2, 25.27, 2.45, 1300.0, 14690.0, 67.39, 1.64, 216, '2017-07-23 07:24:50.597553', '2022-11-11 23:13:50.256628']
[222, 'IMPACT', 'SET    ', 12.3, 19.9, 11.8, 999.99, 1.12, 15714.5, 18234.75, 8.12, 0.58, 222, '2017-07-23 07:24:51.359471', '2022-11-11 23:13:50.280518']
[224, 'INTUCH', 'SET50 / SETCLMV / SETHD / SETTHSI    ', 72.25, 82.0, 67.0, 22.57, 6.16, 3206.69, 231683.19, 348.25, 0.71, 224, '2017-07-23 07:24:51.678976', '2022-11-11 23:13:50.312122']
[227, 'IRPC', 'SET50 / SETCLMV / SETTHSI    ', 3.08, 4.14, 2.92, 12.64, 0.73, 20434.42, 62938.01, 323.03, 1.14, 227, '2017-07-23 07:24:52.052563', '2022-11-11 23:13:50.331875']
[231, 'IVL', 'SET50 / SETTHSI    ', 43.0, 52.75, 38.0, 5.04, 1.23, 5614.55, 241425.73, 955.25, 1.1, 231, '2017-07-23 07:24:52.636551', '2022-11-11 23:13:50.341741']
[234, 'JASIF', 'SET    ', 8.15, 11.3, 7.15, 999.99, 0.74, 78812.8, 65200.0, 215.52, 0.59, 234, '2017-07-23 07:24:52.994628', '2022-11-11 23:13:50.354237']
[236, 'JMART', 'SET50    ', 47.5, 64.0, 42.75, 23.29, 4.01, 1426.95, 67780.24, 453.89, 1.8, 236, '2017-07-23 07:24:53.235194', '2022-11-11 23:13:50.364060']
[237, 'JMT', 'SET50    ', 66.5, 88.25, 53.75, 56.0, 4.26, 729.57, 97033.4, 809.45, 1.45, 237, '2017-07-23 07:24:53.358953', '2022-11-11 23:13:50.370566']
[242, 'JWD', 'sSET / SETCLMV / SETTHSI    ', 18.6, 24.4, 12.5, 31.88, 5.18, 510.0, 18972.0, 111.55, 1.43, 242, '2017-07-23 07:24:53.953853', '2022-11-11 23:13:50.375898']
[245, 'KBANK', 'SET50 / SETCLMV / SETTHSI    ', 148.0, 175.0, 129.5, 8.65, 0.72, 23693.28, 350660.48, 2999.38, 1.13, 245, '2017-07-23 07:24:54.326842', '2022-11-11 23:13:50.389373']
[249, 'KCE', 'SET50    ', 46.75, 95.0, 39.75, 21.94, 4.29, 590.94, 55253.27, 841.56, 1.51, 249, '2017-07-23 07:24:54.800606', '2022-11-11 23:13:50.398412']
[252, 'KGI', 'sSET    ', 4.94, 7.25, 4.5, 7.86, 1.33, 1991.76, 9839.31, 49.11, 0.94, 252, '2017-07-23 07:24:55.176716', '2022-11-11 23:13:50.412530']
[255, 'KKP', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 72.5, 76.25, 56.25, 7.49, 1.15, 8467.51, 61389.46, 369.39, 0.87, 255, '2017-07-23 07:24:55.554025', '2022-11-11 23:13:50.418571']
[257, 'KSL', 'sSET / SETCLMV    ', 3.7, 4.16, 3.22, 11.54, 0.77, 2205.12, 16317.86, 33.03, 0.94, 257, '2017-07-23 07:24:55.777366', '2022-11-11 23:13:50.424316']
[258, 'KTB', 'SET50 / SETHD / SETTHSI    ', 17.7, 18.0, 11.1, 9.12, 0.7, 71976.72, 247376.28, 655.74, 0.91, 258, '2017-07-23 07:24:55.952803', '2022-11-11 23:13:50.429904']
[259, 'KTC', 'SET50 / SETTHSI    ', 59.25, 68.0, 52.0, 24.62, 5.48, 2578.33, 152766.29, 363.72, 1.06, 259, '2017-07-23 07:24:56.119753', '2022-11-11 23:13:50.435185']
[262, 'KYE', 'SET    ', 319.0, 377.0, 314.0, 39.27, 0.81, 198.0, 6316.2, 0.76, 0.19, 262, '2017-07-23 07:24:56.521123', '2022-11-11 23:13:50.440539']
[263, 'LALIN', 'sSET    ', 8.95, 11.8, 8.35, 5.99, 0.96, 925.0, 8278.74, 8.8, 0.83, 263, '2017-07-23 07:24:56.628065', '2022-11-11 23:13:50.447822']
[264, 'LANNA', 'sSET    ', 18.1, 24.6, 15.0, 3.37, 1.33, 525.0, 9502.49, 104.47, 0.8, 264, '2017-07-23 07:24:56.752147', '2022-11-11 23:13:50.453720']
[267, 'LH', 'SET50 / SETHD    ', 9.5, 9.9, 8.0, 13.62, 2.25, 11949.71, 113522.28, 370.73, 0.87, 267, '2017-07-23 07:24:57.091818', '2022-11-11 23:13:50.459386']
[268, 'LHFG', 'SET    ', 1.09, 1.69, 1.07, 21.17, 0.63, 21183.66, 23090.19, 29.74, 1.25, 268, '2017-07-23 07:24:57.221982', '2022-11-11 23:13:50.464870']
[270, 'LHK', 'SET    ', 5.0, 6.1, 3.44, 9.49, 1.24, 383.0, 1915.0, 5.22, 0.74, 270, '2017-07-23 07:24:57.501835', '2022-11-11 23:13:50.471454']
[273, 'LIT', 'mai    ', 1.73, 3.64, 1.73, 999.99, 0.67, 442.93, 766.27, 6.32, 0.96, 273, '2017-07-23 07:24:57.850081', '2022-11-11 23:13:50.476905']
[275, 'LPH', 'sSET    ', 5.8, 6.45, 5.4, 12.51, 2.27, 360.0, 4176.0, 4.27, 0.74, 275, '2017-07-23 07:24:58.101413', '2022-11-11 23:13:50.488421']
[276, 'LPN', 'sSET / SETTHSI    ', 4.54, 5.3, 4.06, 10.88, 0.56, 1454.2, 6602.06, 15.23, 0.66, 276, '2017-07-23 07:24:58.210876', '2022-11-11 23:13:50.493924']
[279, 'M', 'SETWB    ', 57.25, 60.25, 49.25, 34.75, 4.02, 920.88, 52720.27, 48.95, 0.98, 279, '2017-07-23 07:24:58.561151', '2022-11-11 23:13:50.500847']
[281, 'MACO', 'SET    ', 0.53, 1.07, 0.43, 999.99, 1.12, 811.8, 4302.53, 30.39, 1.5, 281, '2017-07-23 07:24:58.804192', '2022-11-11 23:13:50.512164']
[282, 'MAJOR', 'SET100 / SETCLMV / SETTHSI    ', 19.3, 22.4, 16.3, 62.49, 2.65, 894.67, 17267.08, 93.05, 0.86, 282, '2017-07-23 07:24:58.919062', '2022-11-11 23:13:50.521997']
[283, 'MAKRO', 'SET    ', 35.5, 51.5, 32.0, 26.23, 1.3, 5290.16, 375601.48, 421.58, 1.05, 283, '2017-07-23 07:24:59.055672', '2022-11-11 23:13:50.529873']
[288, 'MBAX', 'mai    ', 5.45, 6.75, 4.96, 6.3, 1.9, 191.9, 1045.83, 9.17, 0.56, 288, '2017-07-23 07:24:59.669500', '2022-11-11 23:13:50.537456']
[290, 'MST', 'SET    ', 11.4, 14.8, 10.8, 10.49, 1.34, 2854.07, 6507.29, 2.45, 0.57, 290, '2017-07-23 07:24:59.950822', '2022-11-11 23:13:50.576975']
[291, 'MC', 'sSET    ', 10.0, 10.4, 8.7, 16.3, 2.16, 396.0, 7920.0, 6.54, 0.56, 291, '2017-07-23 07:25:00.178664', '2022-11-11 23:13:50.543482']
[293, 'MCS', 'sSET    ', 9.05, 15.2, 9.0, 4.47, 1.1, 477.0, 4316.85, 24.73, 0.42, 293, '2017-07-23 07:25:00.494290', '2022-11-11 23:13:50.549166']
[295, 'MEGA', 'SET100 / SETCLMV / SETWB    ', 45.75, 56.5, 40.25, 17.4, 4.69, 435.93, 39888.03, 173.54, 1.0, 295, '2017-07-23 07:25:00.817927', '2022-11-11 23:13:50.554621']
[301, 'MINT', 'SET50 / SETCLMV / SETTHSI    ', 31.25, 36.25, 24.1, 201.42, 2.28, 5274.99, 164843.39, 667.38, 1.53, 301, '2017-07-23 07:25:02.423269', '2022-11-11 23:13:50.566912']
[315, 'MTC', 'SET50 / SETTHSI    ', 36.5, 62.25, 32.5, 15.29, 2.88, 2120.0, 77380.0, 480.46, 1.59, 315, '2017-07-23 07:25:04.376173', '2022-11-11 23:13:50.583531']
[328, 'NOBLE', 'sSET    ', 4.78, 6.5, 4.26, 57.99, 1.16, 1369.41, 6545.8, 14.57, 0.63, 328, '2017-07-23 07:25:05.983413', '2022-11-11 23:13:50.595063']
[338, 'OISHI', 'SET    ', 48.25, 50.5, 41.5, 17.58, 2.33, 375.0, 18093.75, 0.85, 0.44, 338, '2017-07-23 07:25:07.328011', '2022-11-11 23:13:50.602129']
[339, 'ORI', 'SET100 / SETHD / SETTHSI    ', 10.2, 12.7, 9.2, 7.34, 1.58, 1227.06, 25032.05, 81.46, 1.51, 339, '2017-07-23 07:25:07.542864', '2022-11-11 23:13:50.619619']
[342, 'PAP', 'SET    ', 3.66, 6.9, 3.58, 999.99, 1.16, 660.0, 2415.6, 11.85, 0.7, 342, '2017-07-23 07:25:08.127858', '2022-11-11 23:13:50.631709']
[346, 'PCSGH', 'SET    ', 4.96, 6.05, 4.8, 13.31, 1.59, 1525.0, 7564.0, 0.77, 0.49, 346, '2017-07-23 07:25:08.811948', '2022-11-11 23:13:50.637678']
[347, 'PDG', 'mai    ', 3.46, 3.92, 3.38, 20.12, 1.77, 148.5, 1027.62, 0.55, 0.24, 347, '2017-07-23 07:25:09.070076', '2022-11-11 23:13:50.643300']
[358, 'PLANB', 'SET100 / SETTHSI    ', 7.65, 8.65, 5.65, 87.15, 4.14, 427.93, 32736.98, 148.43, 1.51, 358, '2017-07-23 07:25:11.061904', '2022-11-11 23:13:50.652999']
[364, 'POPF', 'SET    ', 11.4, 12.7, 11.1, 999.99, 1.04, 4816.39, 5490.68, 3.89, 0.27, 364, '2017-07-23 07:25:12.086460', '2022-11-11 23:13:50.658607']
[372, 'PREB', 'SET    ', 8.5, 9.1, 7.65, 6.36, 1.11, 308.68, 2623.75, 1.14, 0.42, 372, '2017-07-23 07:25:13.441111', '2022-11-11 23:13:50.664089']
[377, 'PSH', 'SETTHSI    ', 12.3, 15.6, 11.8, 11.7, 0.63, 2188.5, 26918.61, 18.02, 0.72, 377, '2017-07-23 07:25:14.332013', '2022-11-11 23:13:50.682250']
[381, 'PTG', 'SET100 / SETTHSI    ', 14.2, 16.4, 12.9, 32.13, 2.81, 1670.0, 23714.0, 202.53, 1.12, 381, '2017-07-23 07:25:15.301004', '2022-11-11 23:13:50.700422']
[382, 'PTL', 'SET    ', 25.5, 29.25, 20.6, 5.67, 1.2, 900.0, 22950.0, 43.83, 0.86, 382, '2017-07-23 07:25:15.502568', '2022-11-11 23:13:50.707342']
[383, 'PTT', 'SET50 / SETCLMV / SETHD / SETTHSI    ', 34.75, 41.25, 32.75, 9.84, 0.92, 28563.0, 992564.12, 2115.15, 0.96, 383, '2017-07-23 07:25:15.661104', '2022-11-11 23:13:50.713595']
[384, 'PTTEP', 'SET50 / SETCLMV / SETHD / SETTHSI    ', 189.0, 195.0, 113.0, 11.38, 1.52, 3969.99, 750327.24, 2395.3, 0.35, 384, '2017-07-23 07:25:15.842941', '2022-11-11 23:13:50.720475']
[385, 'PTTGC', 'SET50 / SETCLMV / SETTHSI    ', 47.75, 62.25, 39.75, 999.99, 0.74, 45088.49, 215297.55, 772.26, 1.14, 385, '2017-07-23 07:25:16.069179', '2022-11-11 23:13:50.732118']
[388, 'QH', 'SET100 / SETHD    ', 2.22, 2.44, 2.06, 10.65, 0.88, 10714.38, 23785.93, 66.03, 0.52, 388, '2017-07-23 07:25:16.740132', '2022-11-11 23:13:50.742205']
[394, 'RATCH', 'SET100 / SETCLMV / SETHD / SETTHSI    ', 41.0, 44.5, 35.75, 12.15, 0.87, 21750.0, 89175.0, 230.42, 0.66, 394, '2017-07-23 07:25:17.796289', '2022-11-11 23:13:50.750117']

In [ ]:
sql = 'DELETE FROM stocks'
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
for rcd in rcds:
    conmy.execute("""INSERT INTO stocks (id, name, market, price, \
max_price, min_price, pe, pbv, paid_up, market_cap, daily_volume, beta, ticker_id, \
created_at, updated_at) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

In [ ]:
sql = 'SELECT * FROM stocks ORDER BY id'
stocks_out = pd.read_sql(sql, conmy)
stocks_out.tail()

### Consensus

In [25]:
sql = 'SELECT * FROM consensus ORDER BY id'
consensus_inp = pd.read_sql(sql, conlt)
consensus_inp.tail()

,id,name,price,buy,hold,sell,eps_a,eps_b,pe,pbv,yield,target_price,status,ticker_id,created_at,updated_at
231,428,KEX,17.5,0,3,5,-1.49,-0.02,-11.7,4.4,0.0,17.29,X,740,2022-01-17 23:55:16.625059,2022-11-11 23:13:51.752173
232,429,ONEE,9.4,8,0,0,0.33,0.43,28.5,3.1,1.7,11.53,X,741,2022-07-05 00:16:21.879047,2022-11-11 02:38:47.591142
233,430,BE8,59.5,3,0,0,0.64,1.29,92.4,8.7,0.5,80.69,X,745,2022-08-06 07:15:45.290628,2022-11-11 23:13:51.528988
234,431,FPT,15.4,1,0,0,1.06,1.09,14.5,1.0,3.4,17.20,X,746,2022-08-09 12:19:14.033494,2022-11-11 02:38:47.245105
235,432,III,14.2,6,0,0,0.71,0.82,20.0,4.2,3.0,18.25,X,637,2022-11-09 23:37:37.478635,2022-11-11 02:38:47.324718

In [26]:
consensus_inp = consensus_inp.drop(['created_at', 'updated_at'], axis=1)

In [27]:
rcds = consensus_inp.values.tolist()
len(rcds)

236

In [28]:
len(consensus_inp.columns)

14

In [29]:
for rcd in rcds:
    conmy.execute("""INSERT INTO consensus (id, name, price, buy, hold, sell, \
eps_a, eps_b, pe, pbv, yield, target_price, status, ticker_id) \
VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""", rcd)

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: consensus.id
[SQL: INSERT INTO consensus (id, name, price, buy, hold, sell, eps_a, eps_b, pe, pbv, yield, target_price, status, ticker_id) VALUES( ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (2, 'ADVANC', 186.5, 13, 1, 0, 8.9, 9.63, 21.0, 6.5, 4.0, 239.0, 'X', 6)]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

### Portfolios table

In [30]:
sql = "SELECT name, id AS ticker_id FROM tickers"
tickers = pd.read_sql(sql, conpg)
tickers.tail()

     name  ticker_id
398  HANA        211
399  ICHI        223
400   KSL        264
401    OR        686
402   PTL        388

In [31]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

NameError: name 'portfolios' is not defined

In [32]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

KeyError: "['date', 'buy_qty', 'sell_qty', 'comp_qty', 'att_qty', 'buy_unit_cost', 'comp_unit_cost', 'att_unit_cost', 'buy_cost_amt', 'comp_cost_amt', 'att_cost_amt', 'last_sell_price', 'target_sell_price', 'buy_method', 'sell_method', 'ticker_id_y', 'created_at', 'updated_at'] not in index"

In [33]:
rcds = df_ins.values.tolist()
len(rcds)

NameError: name 'df_ins' is not defined

### Check common stocks in profits & portfolios

In [34]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

KeyError: "['date', 'buy_qty', 'sell_qty', 'comp_qty', 'att_qty', 'buy_unit_cost', 'comp_unit_cost', 'att_unit_cost', 'buy_cost_amt', 'comp_cost_amt', 'att_cost_amt', 'last_sell_price', 'target_sell_price', 'buy_method', 'sell_method', 'ticker_id_y', 'created_at', 'updated_at'] not in index"

In [35]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df.shape

NameError: name 'portfolios' is not defined

In [12]:
df = pd.merge(profits, portfolios, on=["name"], how="outer", indicator=True)
df[df['_merge'] == 'left_only']

,id_x,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,att_cost_amt,last_sell_price,target_sell_price,buy_method,sell_method,ticker_id_y,created_at,updated_at,sell_qty,_merge
0,1515.0,BEM,2019.0,2.0,1.0,7579661.0,3412480.0,4167181.0,122.115910,7579661.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,1510.0,CBG,2019.0,2.0,1.0,1739715.0,988908.0,750807.0,75.922836,1739715.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,1543.0,COM7,2019.0,2.0,1.0,1044232.0,754060.0,290172.0,38.481288,1044232.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,1486.0,KTB,2019.0,2.0,1.0,29467687.0,25183660.0,4284027.0,17.011137,29467687.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,1538.0,PLANB,2019.0,2.0,1.0,685465.0,530327.0,155138.0,29.253272,685465.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
9,1530.0,ROJNA,2019.0,2.0,1.0,1565310.0,537045.0,1028265.0,191.467195,1565310.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,1532.0,TASCO,2019.0,2.0,1.0,1909764.0,1380929.0,528835.0,38.295597,1909764.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,1513.0,WHAUP,2019.0,2.0,1.0,2521590.0,2019649.0,501941.0,24.852883,2521590.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Delete records from profits en mass

In [2]:
year = 2019
quarter = 3

In [9]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

"'ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP'"

In [10]:
for rcd in rcds:
    conpg.execute(sql, rcd)

DELETE FROM profits
WHERE name IN ('ADVANC', 'BFIT', 'DRT', 'COM7', 'CPNREIT', 'JASIF', 'OISHI', 'PF', 'PTG', 'PTTEP', 'TASCO', 'TOA', 'WHA', 'WHAUP')
AND year = 2019 AND quarter = 3

In [11]:
rp = conmy.execute(sql)
rp.rowcount

1

### Delete all record where quarter = 4

In [ ]:
sql = '''
DELETE FROM profits 
WHERE year = %s AND quarter = %s
'''
sql = sql % (year, quarter)
print(sql)

In [ ]:
rp = conmy.execute(sql)
rp.rowcount

In [ ]:
sql = '''
SELECT * FROM profits WHERE year = %s AND quarter = %s
ORDER BY name'''
sql = sql % (year, quarter)
profits = pd.read_sql(sql, conmy)
profits

### Export portfolis from PortMy to PortPg

In [11]:
sql = '''
SELECT *
FROM portfolios
'''
portfolios = pd.read_sql(sql, conmy)
portfolios.dtypes

id                     int64
name                  object
date                  object
buy_qty                int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id              int64
created_at            object
updated_at            object
sell_qty               int64
dtype: object

In [12]:
sql = 'SELECT name, id AS ticker_id FROM tickers'
tickers = pd.read_sql(sql, conpg)
tickers.tail()

         name  ticker_id
621    SPRIME        674
622  SUPEREIF        675
623      THAI        527
624      TTCL        589
625     TTLPF        676

In [13]:
df_merge = pd.merge(portfolios, tickers, on="name", how="inner")
# df_merge4.rename(columns={"id":"ticker_id"}, inplace = True)
df_merge.columns

Index(['id', 'name', 'date', 'buy_qty', 'comp_qty', 'att_qty', 'buy_unit_cost',
       'comp_unit_cost', 'att_unit_cost', 'buy_cost_amt', 'comp_cost_amt',
       'att_cost_amt', 'last_sell_price', 'target_sell_price', 'buy_method',
       'sell_method', 'ticker_id_x', 'created_at', 'updated_at', 'sell_qty',
       'ticker_id_y'],
      dtype='object')

In [14]:
df_ins = df_merge[
    [
        "name",
        "date",
        "buy_qty",
        "sell_qty",
        "comp_qty",
        "att_qty",
        "buy_unit_cost",
        "comp_unit_cost",
        "att_unit_cost",
        "buy_cost_amt",
        "comp_cost_amt",
        "att_cost_amt",
        "last_sell_price",
        "target_sell_price",
        "buy_method",
        "sell_method",
        "ticker_id_y",
        "created_at",
        "updated_at",
    ]
]
df_ins.dtypes

name                  object
date                  object
buy_qty                int64
sell_qty               int64
comp_qty               int64
att_qty                int64
buy_unit_cost        float64
comp_unit_cost       float64
att_unit_cost        float64
buy_cost_amt           int64
comp_cost_amt          int64
att_cost_amt           int64
last_sell_price      float64
target_sell_price    float64
buy_method             int64
sell_method            int64
ticker_id_y            int64
created_at            object
updated_at            object
dtype: object

In [15]:
sql = """
DELETE FROM portfolios"""
rp = conpg.execute(sql)
rp.rowcount

16

In [16]:
rcds = df_ins.values.tolist()
len(rcds)

16

In [17]:
for rcd in rcds:
    print(rcd)

['IVL', '2018-04-05', 3000, 3000, 15000, 18000, 28.0, 49.0, 45.5, 84000, 735000, 819000, 59.0, 41.0, 2, 2, 238, '2018-04-05 02:48:06.687907', '2019-11-30 15:29:32.379233']
['LH', '2019-02-10', 0, 36000, 45000, 45000, 10.3, 11.1, 11.1, 0, 499500, 499500, 0.0, 11.2, 2, 0, 275, '2019-02-10 16:23:53.431245', '2019-08-28 13:56:34.903384']
['SAT', '2019-02-17', 10000, 50000, 50000, 60000, 14.9, 19.1, 18.4, 149000, 955000, 1104000, 20.1, 19.2, 2, 2, 427, '2019-02-17 08:36:22.989392', '2019-12-06 14:40:18.853694']
['PTTGC', '2019-06-23', 0, 3000, 9000, 9000, 49.5, 75.5, 75.5, 0, 679500, 679500, 0.0, 67.75, 2, 2, 391, '2019-06-23 16:37:36.297845', '2019-09-14 17:19:13.946449']
['AMATA', '2019-07-07', 3000, 7000, 21000, 24000, 19.5, 23.5, 23.0, 58500, 493500, 552000, 0.0, 27.75, 2, 0, 24, '2019-07-07 17:00:05.670265', '2019-11-29 04:21:00.820834']
['ORI', '2019-07-07', 12000, 60000, 60000, 72000, 6.0, 10.2, 9.5, 72000, 612000, 684000, 0.0, 10.2, 2, 2, 347, '2019-07-07 17:01:13.522345', '2019-11-16 15:45:08.939918']
['SYNEX', '2019-07-07', 0, 33000, 33000, 33000, 9.2, 12.9, 12.9, 0, 425700, 425700, 0.0, 9.0, 2, 2, 504, '2019-07-07 17:07:50.562474', '2019-11-16 16:18:51.271429']
['CPNREIT', '2019-07-07', 6000, 3000, 30000, 36000, 26.5, 22.3, 23.0, 159000, 669000, 828000, 37.0, 33.5, 2, 0, 127, '2019-07-07 17:09:36.316288', '2019-12-13 14:52:19.234472']
['PTTEP', '2019-07-30', 1200, 1200, 3600, 4800, 113.0, 125.0, 122.0, 135600, 450000, 585600, 0.0, 137.5, 2, 2, 390, '2019-07-30 16:02:27.870540', '2019-08-26 06:49:45.562553']
['BANPU', '2019-08-12', 0, 8000, 24000, 24000, 11.8, 18.1, 18.1, 0, 434400, 434400, 0.0, 12.9, 2, 2, 51, '2019-08-12 16:17:52.268307', '2019-11-15 16:46:43.651999']
['ROJNA', '2019-08-18', 15000, 25000, 90000, 105000, 4.6, 6.35, 6.1, 69000, 571500, 640500, 0.0, 7.25, 2, 2, 409, '2019-08-18 14:42:49.849307', '2019-12-09 14:21:31.594031']
['JASIF', '2019-10-05', 0, 2000, 128000, 128000, 10.6, 10.1, 10.1, 0, 1292800, 1292800, 10.6, 11.3, 2, 2, 241, '2019-10-05 14:45:48.514836', '2019-11-26 15:56:09.265727']
['FSMART', '2019-11-09', 6000, 60000, 66000, 72000, 5.5, 10.3, 9.9, 33000, 679800, 712800, 0.0, 10.7, 2, 2, 183, '2019-11-09 15:16:48.185104', '2019-11-16 15:43:32.242263']
['MCS', '2019-11-11', 10000, 25000, 75000, 85000, 9.25, 16.9, 16.0, 92500, 1267500, 1360000, 0.0, 12.9, 2, 2, 301, '2019-11-11 06:55:39.662226', '2019-11-28 09:00:51.564901']
['NOBLE', '2019-11-19', 5000, 5000, 20000, 25000, 14.4, 16.4, 16.0, 72000, 328000, 400000, 0.0, 20.4, 2, 2, 336, '2019-11-19 03:13:49.142639', '2019-12-28 14:14:38.706873']
['SUPER', '2019-11-19', 200000, 0, 0, 200000, 0.5, 0.0, 0.5, 100000, 0, 100000, 0.0, 0.0, 2, 2, 496, '2019-11-19 03:16:46.210950', '2019-11-19 03:16:46.210950']

In [18]:
sql = """
INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""
print(sql)

INSERT INTO portfolios (name, date, buy_qty, sell_qty, comp_qty, att_qty,
buy_unit_cost, comp_unit_cost, att_unit_cost,
buy_cost_amt, comp_cost_amt, att_cost_amt,
last_sell_price, target_sell_price, buy_method, sell_method,
ticker_id, created_at, updated_at)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

In [19]:
for rcd in rcds:
    conpg.execute(sql, rcd)

In [ ]:
### Temporary process to delete profit records that q_amt < y_amt

In [24]:
sql = """
SELECT *
FROM profits
WHERE q_amt_c  < y_amt
"""
profits = pd.read_sql(sql, conmy)
profits

,id,name,year,quarter,kind,latest_amt_y,previous_amt_y,inc_amt_y,inc_pct_y,latest_amt_q,...,q_amt_c,y_amt,inc_amt_py,inc_pct_py,q_amt_p,inc_amt_pq,inc_pct_pq,ticker_id,mean_pct,std_pct
0,2358,SCGP,2022,1,0,7817594,6860082,957512,13.96,7817594,...,1657958,2134731,-476773,-22.334102,2115508,-457550,-21.628375,713,-8.938119,17.078085
1,2359,PTTEP,2022,1,0,37848936,25585211,12263725,47.93,37848936,...,10519023,11533682,-1014659,-8.797355,10645266,-126243,-1.185907,384,8.834184,26.272454
2,2363,DOHOME,2022,1,1,1734442,1092533,641909,58.75,1734442,...,459532,543153,-83621,-15.395478,333207,126325,37.911869,701,19.166598,35.012470
3,2369,TU,2022,1,0,7955627,7032761,922866,13.12,7955627,...,1745525,1802894,-57369,-3.182051,1930444,-184919,-9.579092,582,-0.090286,9.565644
4,2372,IRPC,2022,1,0,10424504,8334403,2090101,25.08,10424504,...,1501085,5581205,-4080120,-73.104643,2194204,-693119,-31.588631,227,-26.935818,40.250385
5,2381,TMT,2022,1,0,1233848,837567,396281,47.31,1233848,...,126938,423150,-296212,-70.001654,160913,-33975,-21.113894,545,-15.791387,48.171922
6,2386,PTTGC,2022,1,1,39499189,18678590,20820599,111.47,39499189,...,4211669,9694868,-5483199,-56.557748,3247576,964093,29.686542,385,18.102198,71.515659
7,2395,ICHI,2022,1,0,529124,477912,51212,10.72,529124,...,103930,121577,-17647,-14.515081,132645,-28715,-21.648008,216,-7.168272,14.131980
8,2396,ACE,2022,1,0,1468062,1274421,193641,15.19,1468062,...,322711,360330,-37619,-10.440152,367649,-44938,-12.223071,698,-2.493306,12.523578
9,2397,SGP,2022,1,0,3475743,2908691,567052,19.50,3475743,...,989290,1322056,-332766,-25.170341,991771,-2481,-0.250159,441,-3.665125,18.587753
10,2398,TCAP,2022,1,0,5245504,3431567,1813937,52.86,5245504,...,1036445,1078121,-41676,-3.865614,1769052,-732607,-41.412406,503,1.697995,38.786601

In [25]:
sql = """
SELECT *
FROM profits
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(65, 23)

In [26]:
sqlDel = """
DELETE
FROM profits
WHERE q_amt_c  < y_amt
"""
rp = conmy.execute(sqlDel)
rp.rowcount

11

In [27]:
sql = """
SELECT *
FROM profits
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(54, 23)

### Temporary process to delete profit records that q_amt < q_amt_p

In [29]:
sql = """
SELECT *
FROM profits
WHERE q_amt_c  < q_amt_p
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(20, 23)

In [30]:
sql = """
SELECT *
FROM profits
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(54, 23)

In [31]:
sqlDel = """
DELETE
FROM profits
WHERE q_amt_c  < q_amt_p
"""
rp = conmy.execute(sqlDel)
rp.rowcount

20

In [2]:
sql = """
SELECT *
FROM profits
"""
profits = pd.read_sql(sql, conmy)
profits.shape

(34, 23)

In [3]:
sql = '''
SELECT name, market
FROM stocks
ORDER BY name'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape

(253, 2)

In [4]:
filters = [
   (my_stocks.market.str.contains('SET50')),
   (my_stocks.market.str.contains('SET100')),
   (my_stocks.market.str.contains('mai'))    
]
values = ['SET50','SET100','mai']

In [6]:
my_stocks["mrkt"] = np.select(filters, values, default='SET')
my_stocks.head()

     name                       market    mrkt
0     ACE                   SET100      SET100
1  ADVANC  SET50 / SETHD / SETTHSI       SET50
2  AEONTS                   SET100      SET100
3      AH           sSET / SETTHSI         SET
4     AIE                     sSET         SET

In [9]:
df_merge = pd.merge(profits, my_stocks, on='name',how='inner')
df_merge[['name','mrkt']].sort_values(['mrkt','name'],ascending=[True,True])

      name    mrkt
29     AIT     SET
15     ASK     SET
3      BAY     SET
10   COTTO     SET
18     GGC     SET
12     MST     SET
0      PTL     SET
16     RJH     SET
30     SIS     SET
21    SMPC     SET
23     SNC     SET
32   TPIPL     SET
19    BCPG  SET100
17     BPP  SET100
25    ESSO  SET100
2      KKP  SET100
33    MEGA  SET100
14     RBF  SET100
31     RCL  SET100
20  SINGER  SET100
28    SPRC  SET100
7      BBL   SET50
22    BDMS   SET50
11      BH   SET50
13  GLOBAL   SET50
26    GULF   SET50
27     IVL   SET50
9    KBANK   SET50
6      KTB   SET50
4      KTC   SET50
8      SCB   SET50
1    TISCO   SET50
24     TOP   SET50
5      TTB   SET50

### Process to delete from PortMy profits if latest quarter profit not highest in the last 4 quarters

In [41]:
name = 'TTB'

In [42]:
sql = """
SELECT * 
FROM epss
WHERE name = '%s'
ORDER BY year DESC, quarter DESC
LIMIT 4"""
sql = sql % name
print(sql)
epss = pd.read_sql(sql, conlt)
epss

SELECT *
FROM epss
WHERE name = 'TTB'
ORDER BY year DESC, quarter DESC
LIMIT 4

,id,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps,ticker_id,publish_date
0,21659,TTB,2022,2,3438326,2534108,6633230,5316063,0.0356,0.0263,0.0687,0.0551,541,2022-07-20
1,21421,TTB,2022,1,3194904,2781955,3194904,2781955,0.0331,0.0289,0.0331,0.0289,541,2022-04-20
2,21083,TTB,2021,4,2799333,1234883,10474045,10112182,0.0290,0.0128,0.1086,0.1049,541,2022-01-20
3,20670,TTB,2021,3,2358649,1618900,7674712,8877299,0.0245,0.0168,0.0796,0.0921,541,2021-10-20

In [39]:
sqlDel = """
DELETE FROM profits
WHERE name = '%s'"""
sqlDel = sqlDel % name
print(sqlDel)

DELETE FROM profits
WHERE name = 'SCB'

In [40]:
rp = conmy.execute(sqlDel)
rp.rowcount

1