### Restart and run all cells

### stock: dividend, price

In [2]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

format_dict = {
               'fm_date':'{:%Y-%m-%d}','to_date':'{:%Y-%m-%d}',
               'price_x':'{:,.2f}','to_price':'{:,.2f}',
               'current':'{:,.2f}','div_amt':'{:,.2f}','amount':'{:,.2f}','yield':'{:,.2f}',
               'Q4':'{:,.2f}','Q3':'{:,.2f}','Q2':'{:,.2f}','Q1':'{:,.2f}','DIVIDEND':'{:,.2f}',
               'qty':'{:,}','shares':'{:,}','qty_z':'{:,}'
              }
pd.set_option("display.max_rows", None)

today = date.today()
today

datetime.date(2021, 12, 27)

In [3]:
sql = '''
SELECT *
FROM dividend
ORDER BY name'''
df_dividend = pd.read_sql(sql, const)
df_dividend.shape

(83, 13)

In [5]:
sql = '''
SELECT D.name, P.name
FROM dividend D
LEFT JOIN price P
ON D.name = P.name
AND P.date = "%s"
WHERE P.name IS NULL
'''
sql = sql % today
df_left = pd.read_sql(sql, const)
df_left

     name  name
0      AI  None
1   MBKET  None
2      PT  None
3   TEAMG  None
4     TIP  None
5  TPRIME  None

### If above statement consists stock names, must delete from dividend as there are no price records

In [8]:
name = 'AI'

In [9]:
sql = '''
SELECT *
FROM dividend
WHERE name = "%s"'''
sql = sql % name
df_dividend = pd.read_sql(sql, const)
df_dividend

,NAME,Q4,Q3,Q2,Q1,DIVIDEND,PRICE,PERCENT,SHARES,XDATE,PAIDDATE,KIND,ACTUAL
0,AI,0.15,0.0,0.0,0.0,0.15,0.0,0.0,0.0,2021-03-04,2021-04-22,,0

In [10]:
sql = '''
SELECT *
FROM price
WHERE name = "%s"
ORDER BY date DESC'''
sql = sql % name
df_price = pd.read_sql(sql, const)
df_price.head()

Empty DataFrame
Columns: [name, date, price, maxp, minp, qty, opnp]
Index: []

In [11]:
sqlDel = '''
DELETE FROM dividend
WHERE name = "%s"'''
sqlDel = sqlDel % name
rp = const.execute(sqlDel)
rp.rowcount

1

In [12]:
old_name ='MBKET'
new_name ='MST'

### End of Loop

In [5]:
sql = '''
SELECT D.name, Q4, Q3, Q2, Q1, DIVIDEND, shares, DIVIDEND * shares AS div_amt,
P.price AS current, shares*P.price AS amount,
FORMAT(DIVIDEND/P.price*100,2) AS yield, XDATE, PAIDDATE, ACTUAL
FROM dividend D
JOIN price P
WHERE D.name = P.name
AND P.date = "%s"'''
sql = sql % today
print(sql)

SELECT D.name, Q4, Q3, Q2, Q1, DIVIDEND, shares, DIVIDEND * shares AS div_amt,
P.price AS current, shares*P.price AS amount,
FORMAT(DIVIDEND/P.price*100,2) AS yield, XDATE, PAIDDATE, ACTUAL
FROM dividend D
JOIN price P
WHERE D.name = P.name
AND P.date = "2021-12-23"

In [6]:
div_price = pd.read_sql(sql, const)
div_price['yield'] = div_price['yield'].astype(float)
div_price['shares'] = div_price['shares'].astype(int)
div_price.shape

(77, 14)

In [7]:
div_price.nlargest(3, 'div_amt')[['name','div_amt']]

     name   div_amt
35    STA  105000.0
2     MCS   95900.0
48  JASIF   95000.0

In [8]:
y_ovr_8 = div_price['yield'] >= 7.00
div_price[y_ovr_8].sort_values(['yield'],ascending=[False]).style.format(format_dict)

In [9]:
not_due = div_price['ACTUAL'] == 1
div_price[not_due].sort_values(['yield'],ascending=[False]).style.format(format_dict)

In [10]:
div_price[y_ovr_8 & not_due].sort_values(['XDATE','name'],ascending=[True,True]).style.format(format_dict)

In [11]:
in_port = div_price['shares'] > 0
div_price[in_port].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [12]:
div_price[y_ovr_8 & in_port].sort_values(['yield','name'],ascending=[False,True]).style.format(format_dict)

In [13]:
dividend = div_price[y_ovr_8 & in_port].div_amt.sum()
cost = div_price[y_ovr_8 & in_port].amount.sum()
yld = round(dividend / cost * 100,2)
(dividend, cost, yld)

(497836.0, 4912600.0, 10.13)

In [14]:
file_name = 'DIV-OVR-8%.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

('../data/DIV-OVR-8%.csv',
 '\\Users\\User\\iCloudDrive\\DIV-OVR-8%.csv',
 '\\Users\\User\\Dropbox\\DIV-OVR-8%.csv')

In [15]:
div_price[y_ovr_8 & in_port].sort_values(['yield','name'],ascending=[False,True]).to_csv(data_file)
div_price[y_ovr_8 & in_port].sort_values(['yield','name'],ascending=[False,True]).to_csv(output_file)
div_price[y_ovr_8 & in_port].sort_values(['yield','name'],ascending=[False,True]).to_csv(box_file)

In [16]:
div_price[~y_ovr_8 & in_port].sort_values(['yield','name'],ascending=[False,True]).style.format(format_dict)

In [17]:
dividend = div_price[~y_ovr_8 & in_port].div_amt.sum()
cost = div_price[~y_ovr_8 & in_port].amount.sum()
yld = round(dividend / cost * 100,2)
(dividend, cost, yld)

(162042.5, 5373225.0, 3.02)