In [1]:
import calendar
import pandas as pd
import numpy as np
from datetime import date, timedelta
from sqlalchemy import create_engine
from math import ceil, floor, trunc

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
con_lite = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.set_option('display.float_format','{:,.2f}'.format)
pd.set_option('max_rows',None)

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

today = date.today()
today

datetime.date(2021, 12, 27)

### Today = Last Closed Work Day

In [4]:
#today = today - timedelta(days=3)
today

datetime.date(2021, 12, 27)

### Restart and run all cells

In [2]:
def number_of_spread(x):
    maxp = x[1]
    minp = x[5]
    div = 0.0
    gap = 0.0
    spd = 0
    spd1 = 0
    spd2 = 0
    if (maxp > minp): 
        mult = 1
    else:
    	tmpp = minp
    	minp = maxp
    	maxp = tmpp
    	mult = -1
        
    gap = round(maxp - minp,2)   
    
    if (maxp > 400.00):
        div = 2.0
        boundary = div * 200
        if ((minp < boundary)):
            spd1 = trunc((boundary - minp) / 1.00)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            spd = trunc(gap / div) 
    elif (maxp > 200.00):
        div = 1.0
        boundary = div * 200
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.50)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            spd = trunc(gap / div) 
    elif (maxp > 100.00):
        div = 0.50
        boundary = div * 200
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.25)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            spd = trunc(gap / div) 
    elif (maxp > 25.00):
        div = 0.25
        boundary = div * 100
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.10)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            spd = trunc(gap / div)
    elif (maxp > 10.00):
        div = 0.10
        boundary = div * 100
        if (minp < boundary):
            spd1 = ceil((boundary - minp) / 0.05)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2
        else:
            div = 0.10            
            spd = ceil(gap / div)
    elif (maxp > 5.00):
        div = 0.05
        boundary = div * 100
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.02)
            spd2 = trunc(round(((maxp - boundary) / div),2))
            spd = spd1 + spd2           
        else:
            div = 0.05            
            spd = ceil(gap / div)
    elif (maxp > 2.00):
        div = 0.02
        boundary = div * 100
        if (minp < boundary):
            spd1 = trunc((boundary - minp) / 0.01)
            spd2 = trunc((maxp - boundary) / div)
            spd = spd1 + spd2
        else:          
            spd = (gap / div)
    else:
        div = 0.01
        boundary = div * 100        
        spd = trunc(gap / div) 
        
    return spd * mult

In [3]:
format_dict = {
               'fm_price':'{:.2f}','to_price':'{:.2f}','price':'{:.2f}',    
               'max_price':'{:.2f}','min_price':'{:.2f}',
               'target':'{:.2f}','max':'{:.2f}','max52':'{:.2f}',
                'min':'{:.2f}','min52':'{:.2f}',
    'css_price':'{:.2f}','amount':'{:,.2f}',  
               'unit_cost':'{:.2f}','cost_amt':'{:,.2f}',
               'dividend':'{:.2f}','dividend_amount':'{:,.2f}',    
               'cost_amt':'{:,.2f}','div_amt':'{:,.2f}','cost_pct':'{:.2f}', 
               'buy_target':'{:.2f}','sell_target':'{:.2f}',
               'volume':'{:,.2f}','beta':'{:.2f}','cost':'{:,.2f}',
               'qty':'{:,}','available_qty':'{:,}','shares':'{:,}'}
pd.set_option("display.max_rows", None)

In [5]:
sql = '''
SELECT T.name,buy_target AS target, bl, T.qty,
fm_price,to_price,  ttl_spread AS ttl, A.min_price AS min, 
T.min_price AS min52, consensus_price AS css_price, buy_target * T.qty AS amount, T.status,
FM_date, to_date, days
FROM stocks T
JOIN sales A
ON T.name = A.name
LEFT JOIN consensus C
ON T.name = C.name
WHERE T.status IN ('B','O')
AND buy_target > 0
AND to_date = '%s'
'''
sql = sql % today
#sql = sql % yesterday
print(sql)

SELECT T.name,buy_target AS target, bl, T.qty,
fm_price,to_price,  ttl_spread AS ttl, A.min_price AS min,
T.min_price AS min52, consensus_price AS css_price, buy_target * T.qty AS amount, T.status,
FM_date, to_date, days
FROM stocks T
JOIN sales A
ON T.name = A.name
LEFT JOIN consensus C
ON T.name = C.name
WHERE T.status IN ('B','O')
AND buy_target > 0
AND to_date = '2021-12-23'

In [6]:
df_stock = pd.read_sql(sql, con_lite)
#df_stock.sort_values(['name'],ascending=[True])
df_stock.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [7]:
my_array = df_stock.to_numpy()
my_array

array([['KBANK', 135.0, 0, 600, 136.5, 138.5, 4, 136.0, 101.0, 169.5,
        81000.0, 'B', '2021-12-20', '2021-12-23', 3],
       ['IMH', 10.0, 0, 6000, 12.0, 11.6, -4, 11.4, 2.08, 21.6, 60000.0,
        'B', '2021-12-20', '2021-12-23', 3],
       ['ROJNA', 6.3, 0, 18000, 6.4, 6.6, 4, 6.4, 4.22, 8.05, 113400.0,
        'O', '2021-12-20', '2021-12-23', 3],
       ['PTT', 36.5, 9, 3000, 37.0, 38.0, 4, 37.25, 34.0, 50.1, 109500.0,
        'B', '2021-12-21', '2021-12-23', 2],
       ['STA', 28.0, 3, 2500, 29.75, 30.5, 3, 29.75, 25.5, 38.03,
        70000.0, 'B', '2021-12-21', '2021-12-23', 2],
       ['GLOBAL', 19.0, 0, 7500, 20.4, 20.0, -4, 20.0, 15.69, 26.8,
        142500.0, 'B', '2021-12-21', '2021-12-23', 2],
       ['TOP', 47.0, 0, 3000, 47.5, 48.75, 5, 47.75, 42.5, 66.13,
        141000.0, 'B', '2021-12-22', '2021-12-23', 1],
       ['RATCH', 43.0, 0, 3000, 44.25, 44.75, 2, 44.5, 42.0, 55.08,
        129000.0, 'B', '2021-12-22', '2021-12-23', 1],
       ['BGRIM', 38.0, 0, 3000, 40.25, 40.0, -1, 40.0, 38.25, 54.23,
        114000.0, 'B', '2021-12-22', '2021-12-23', 1],
       ['NOBLE', 5.85, 0, 6000, 6.15, 6.1, -1, 6.1, 5.9, 6.99, 35100.0,
        'B', '2021-12-22', '2021-12-23', 1],
       ['DOHOME', 22.9, 1, 4000, 23.9, 23.8, -1, 23.8, 12.37, 30.64,
        91600.0, 'B', '2021-12-22', '2021-12-23', 1],
       ['SIS', 41.25, 0, 3000, 46.5, 45.25, -5, 44.5, 17.1, 43.46,
        123750.0, 'B', '2021-12-22', '2021-12-23', 1],
       ['SYNEX', 30.0, 1, 9000, 34.5, 34.0, -2, 33.25, 14.0, 30.39,
        270000.0, 'O', '2021-12-22', '2021-12-23', 1]], dtype=object)

In [8]:
tmp = (np.apply_along_axis(number_of_spread, axis=1, arr=my_array))
tmp

array([ -7, -16,  -6,  -6, -10, -10,  -7,  -7,  -8,  -5,  -9, -16, -16])

In [9]:
df_stock['spd'] = tmp.tolist()
df_stock['spd'] = df_stock['spd'].astype(int)
df_stock.style.format(format_dict)

In [10]:
cols = 'name spd target bl qty fm_price to_price ttl min min52 css_price status amount fm_date to_date days'.split()
df_stock[cols].style.format(format_dict)

In [11]:
buy_alert = df_stock[cols]
buy_alert.set_index(['name'],inplace=True)
buy_alert.sort_values(['spd'],ascending=[False]).style.format(format_dict)

In [12]:
file_name = 'buy-alert.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

('../data/buy-alert.csv',
 '\\Users\\User\\iCloudDrive\\buy-alert.csv',
 '\\Users\\User\\Dropbox\\buy-alert.csv')

In [13]:
buy_alert.sort_values(['spd','name'],ascending=[False,True]).to_csv(output_file)
buy_alert.sort_values(['spd','name'],ascending=[False,True]).to_csv(data_file)
buy_alert.sort_values(['spd','name'],ascending=[False,True]).to_csv(box_file)