In [1]:
import calendar
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\port_lite\\db\\development.sqlite3")
conlite = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

pd.set_option('display.max_row',None)

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"
one_path = "\\Users\\User\\OneDrive\\Documents\\Data\\"

today = date.today()
yesterday = today - timedelta(days=1)
today, yesterday

(datetime.date(2022, 10, 27), datetime.date(2022, 10, 26))

In [2]:
#today = today - timedelta(days=4)
#wkago = today - timedelta(days=5)
wkago = date(2022, 10, 21)
today, wkago

(datetime.date(2022, 10, 27), datetime.date(2022, 10, 21))

### Get past one quarter data

In [4]:
sql = """
SELECT name
FROM buy 
ORDER BY name
"""
df = pd.read_sql(sql, const)

names = df['name'].values.tolist()
in_p = ", ".join(map(lambda name: "'%s'" % name, names))
in_p

"'ASP', 'BCH', 'CPNREIT', 'DCC', 'DIF', 'DOHOME', 'GVREIT', 'IVL', 'JASIF', 'KCE', 'MAKRO', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SCCC', 'SENA', 'STA', 'SYNEX', 'TMT', 'VNG', 'WHAIR', 'WHART'"

In [5]:
one_qtr_ago = today - timedelta(days=90)
one_qtr_ago

sql = """
SELECT * 
FROM price 
WHERE date >= '%s' AND name IN (%s) 
ORDER BY name, date"""
sql = sql % (one_qtr_ago, in_p)
print(sql)

SELECT *
FROM price
WHERE date >= '2022-07-29' AND name IN ('ASP', 'BCH', 'CPNREIT', 'DCC', 'DIF', 'DOHOME', 'GVREIT', 'IVL', 'JASIF', 'KCE', 'MAKRO', 'MCS', 'NER', 'ORI', 'PTTGC', 'RCL', 'SCC', 'SCCC', 'SENA', 'STA', 'SYNEX', 'TMT', 'VNG', 'WHAIR', 'WHART')
ORDER BY name, date

In [6]:
df = pd.read_sql(sql, const)
df.shape

(1475, 7)

In [7]:
data_path = "../data/"
file_name = "Quarterly-Price-by-Name.csv"
output_file = data_path + file_name

df.set_index("name", inplace=True)
df.to_csv(output_file, header=None)

### Command Line Call Lower & Upper Process

In [8]:
name = 'DOHOME'

In [9]:
data_path = "../csv/"
file_name   = name + '-lower.csv'
input_file = data_path + file_name
col_names   = ['name','fm_date','to_date','days','fm_price','to_price','chg_amt','chg_pct','spd','avg','maxp','minp','qty']
df_lower = pd.read_csv(input_file, sep=',',  index_col=None, names=col_names)
df_lower.sort_values(by=['to_date'],ascending=[False])

,name,fm_date,to_date,days,fm_price,to_price,chg_amt,chg_pct,spd,avg,maxp,minp,qty
8,DOHOME,2022-10-18,2022-10-26,6,13.0,12.6,-0.4,-3.08,-4,-1,13.2,12.5,21504290
7,DOHOME,2022-10-06,2022-10-17,7,13.2,12.6,-0.6,-4.55,-6,-1,13.3,12.2,56855697
6,DOHOME,2022-09-22,2022-10-03,7,14.5,12.8,-1.7,-11.72,-17,-3,14.6,12.8,97782722
5,DOHOME,2022-09-14,2022-09-21,5,15.3,14.4,-0.9,-5.88,-9,-2,15.5,14.3,49135563
4,DOHOME,2022-09-02,2022-09-09,5,14.8,14.3,-0.5,-3.38,-5,-1,14.9,14.3,44618869
3,DOHOME,2022-08-24,2022-09-01,6,16.8,14.7,-2.1,-12.50,-21,-4,16.7,14.7,142584213
2,DOHOME,2022-08-18,2022-08-19,1,16.5,16.1,-0.4,-2.42,-4,-4,16.4,16.1,6407539
1,DOHOME,2022-08-04,2022-08-11,5,15.5,14.9,-0.6,-3.87,-6,-2,15.5,14.6,26645693
0,DOHOME,2022-08-01,2022-08-03,2,15.9,15.1,-0.8,-5.03,-8,-4,16.1,15.0,28851810

In [10]:
df_lower[df_lower['chg_pct'] <= -5].sort_values(by=['to_date'],ascending=[False])

,name,fm_date,to_date,days,fm_price,to_price,chg_amt,chg_pct,spd,avg,maxp,minp,qty
6,DOHOME,2022-09-22,2022-10-03,7,14.5,12.8,-1.7,-11.72,-17,-3,14.6,12.8,97782722
5,DOHOME,2022-09-14,2022-09-21,5,15.3,14.4,-0.9,-5.88,-9,-2,15.5,14.3,49135563
3,DOHOME,2022-08-24,2022-09-01,6,16.8,14.7,-2.1,-12.50,-21,-4,16.7,14.7,142584213
0,DOHOME,2022-08-01,2022-08-03,2,15.9,15.1,-0.8,-5.03,-8,-4,16.1,15.0,28851810

In [11]:
data_path = "../csv/"
file_name   = name + '-upper.csv'
input_file = data_path + file_name
col_names   = ['name','fm_date','to_date','days','fm_price','to_price','chg_amt','chg_pct','spd','avg','maxp','minp','qty']
df_upper = pd.read_csv(input_file, sep=',',  index_col=None, names=col_names)
df_upper.sort_values(by=['to_date'],ascending=[False])

,name,fm_date,to_date,days,fm_price,to_price,chg_amt,chg_pct,spd,avg,maxp,minp,qty
7,DOHOME,2022-10-10,2022-10-18,6,12.6,13.0,0.4,3.17,4,0,13.4,12.6,43601088
6,DOHOME,2022-10-03,2022-10-06,3,12.8,13.2,0.4,3.12,4,1,13.3,12.8,22865561
5,DOHOME,2022-09-21,2022-09-22,1,14.4,14.5,0.1,0.69,1,1,14.6,14.4,7905535
4,DOHOME,2022-09-09,2022-09-14,3,14.3,15.3,1.0,6.99,10,3,15.7,14.3,92520625
3,DOHOME,2022-09-01,2022-09-02,1,14.7,14.8,0.1,0.68,1,1,15.0,14.7,6385281
2,DOHOME,2022-08-19,2022-08-24,3,16.1,16.8,0.7,4.35,7,2,17.5,16.0,42141122
1,DOHOME,2022-08-09,2022-08-18,7,14.9,16.5,1.6,10.74,16,2,16.6,14.9,60215837
0,DOHOME,2022-08-03,2022-08-04,1,15.1,15.5,0.4,2.65,4,4,15.5,15.1,3821644

In [12]:
df_upper[df_upper['chg_pct'] >= 5].sort_values(by=['to_date'],ascending=[False])

,name,fm_date,to_date,days,fm_price,to_price,chg_amt,chg_pct,spd,avg,maxp,minp,qty
4,DOHOME,2022-09-09,2022-09-14,3,14.3,15.3,1.0,6.99,10,3,15.7,14.3,92520625
1,DOHOME,2022-08-09,2022-08-18,7,14.9,16.5,1.6,10.74,16,2,16.6,14.9,60215837

### Concat

In [17]:
frames = [df_lower, df_upper]
result = pd.concat(frames)
result.sort_values(by=['to_date'],ascending=[False])

,name,fm_date,to_date,days,fm_price,to_price,chg_amt,chg_pct,spd,avg,maxp,minp,qty
11,GVREIT,2022-10-07,2022-10-26,13,8.95,8.70,-0.25,-2.79,-5,-1,9.00,8.65,222300
11,GVREIT,2022-10-04,2022-10-10,4,8.85,8.95,0.10,1.13,2,0,9.00,8.85,219415
10,GVREIT,2022-09-30,2022-10-04,2,9.00,8.85,-0.15,-1.67,-3,-2,9.00,8.85,265100
10,GVREIT,2022-09-28,2022-09-30,2,8.95,9.00,0.05,0.56,1,0,9.00,8.95,394800
9,GVREIT,2022-09-27,2022-09-29,2,9.00,8.95,-0.05,-0.56,-1,-1,9.05,8.90,814100
9,GVREIT,2022-09-26,2022-09-27,1,8.95,9.00,0.05,0.56,1,1,9.05,9.00,46400
8,GVREIT,2022-09-23,2022-09-26,1,9.10,8.95,-0.15,-1.65,-3,-3,9.10,8.95,154100
8,GVREIT,2022-09-20,2022-09-23,3,9.00,9.10,0.10,1.11,2,0,9.10,9.00,1092800
7,GVREIT,2022-09-16,2022-09-21,3,9.05,9.00,-0.05,-0.55,-1,-1,9.05,9.00,209400
7,GVREIT,2022-09-15,2022-09-19,2,9.00,9.05,0.05,0.56,1,0,9.10,9.00,314900
6,GVREIT,2022-09-08,2022-09-15,5,9.05,9.00,-0.05,-0.55,-1,-1,9.05,9.00,1891100
6,GVREIT,2022-09-07,2022-09-14,5,8.95,9.05,0.10,1.12,2,0,9.10,8.95,867100
5,GVREIT,2022-09-05,2022-09-07,2,9.10,8.95,-0.15,-1.65,-3,-2,9.10,8.90,950701
5,GVREIT,2022-08-31,2022-09-05,3,8.95,9.10,0.15,1.68,3,1,9.10,8.95,271620
4,GVREIT,2022-08-25,2022-08-31,4,9.20,8.95,-0.25,-2.72,-5,-2,9.05,8.95,1939780
4,GVREIT,2022-08-24,2022-08-25,1,9.15,9.20,0.05,0.55,1,1,9.20,9.15,129917
3,GVREIT,2022-08-22,2022-08-24,2,9.30,9.15,-0.15,-1.61,-3,-2,9.30,9.10,765700
3,GVREIT,2022-08-19,2022-08-22,1,9.15,9.30,0.15,1.64,3,3,9.30,9.20,248200
2,GVREIT,2022-08-18,2022-08-19,1,9.40,9.15,-0.25,-2.66,-5,-5,9.30,9.15,208500
2,GVREIT,2022-08-10,2022-08-18,6,8.85,9.40,0.55,6.21,11,1,9.40,8.90,901264
1,GVREIT,2022-08-08,2022-08-11,3,8.95,8.85,-0.10,-1.12,-2,-1,9.00,8.85,1209315
1,GVREIT,2022-08-03,2022-08-08,3,8.85,8.95,0.10,1.13,2,0,8.95,8.85,913306
0,GVREIT,2022-08-01,2022-08-05,4,8.95,8.85,-0.10,-1.12,-2,-1,8.95,8.85,845727
0,GVREIT,2022-07-27,2022-08-02,4,8.85,8.95,0.10,1.13,2,0,8.95,8.80,80122

### Sales table in port_lite

In [18]:
sql = """
SELECT *
FROM sales
WHERE to_date = '%s'"""
sql = sql % today
print(sql)
df_sales = pd.read_sql(sql, conlite)
df_sales

SELECT *
FROM sales
WHERE to_date = '2022-10-26'

,id,name,fm_date,to_date,days,fm_price,to_price,diff,pct,ttl_spread,avg_spread,max_price,min_price,qty,created_at,updated_at,latest_date_id
0,1175891,ASP,2022-10-20,2022-10-26,4,3.00,3.02,0.02,0.67,1,0,3.04,0.67,12755179,2022-10-24 16:18:26.860899,2022-10-26 12:47:25.629897,1
1,1176469,GVREIT,2022-10-07,2022-10-26,13,8.95,8.70,-0.25,-2.79,-5,-1,8.75,-2.79,819748,2022-10-24 16:18:30.428971,2022-10-26 12:47:24.977332,1
2,1176639,JASIF,2022-10-18,2022-10-26,6,8.35,7.90,-0.45,-5.39,-9,-2,8.00,-5.39,29270550,2022-10-24 16:18:31.487426,2022-10-26 12:47:24.956870,1
3,1176747,LANNA,2022-10-20,2022-10-26,4,19.40,18.70,-0.70,-3.61,-7,-2,18.90,-3.09,6232371,2022-10-24 16:18:32.162191,2022-10-26 12:47:25.561159,1
4,1176927,PTT,2022-10-17,2022-10-26,7,34.25,35.00,0.75,2.19,3,0,35.25,2.19,246286312,2022-10-24 16:18:33.296660,2022-10-26 12:47:25.603862,1
5,1177013,PTTGC,2022-10-20,2022-10-26,4,41.50,42.00,0.50,1.20,2,0,42.25,1.20,27357397,2022-10-24 16:18:33.852957,2022-10-26 12:47:25.637499,1
6,1177341,SCCC,2022-10-20,2022-10-26,4,146.50,151.00,4.50,3.07,9,2,151.00,2.39,277652,2022-10-24 16:18:35.946708,2022-10-26 12:47:25.533877,1
7,1177538,STA,2022-10-19,2022-10-26,5,18.60,18.20,-0.40,-2.15,-4,-1,18.50,-1.61,5181136,2022-10-24 16:18:37.218652,2022-10-26 12:47:25.623826,1
8,1177632,TTB,2022-10-11,2022-10-26,11,1.20,1.38,0.18,15.00,18,1,1.38,1.32,4010738608,2022-10-24 16:18:37.827065,2022-10-26 12:47:25.609571,1
9,1177633,BCH,2022-10-21,2022-10-26,3,17.50,18.40,0.90,5.14,9,3,18.50,0.57,38378280,2022-10-25 16:56:19.562142,2022-10-26 12:47:24.986403,1
10,1177634,IVL,2022-10-21,2022-10-26,3,40.50,41.00,0.50,1.23,2,0,41.00,0.62,16783938,2022-10-25 16:56:19.571400,2022-10-26 12:47:25.523866,1
11,1177636,BLA,2022-10-21,2022-10-26,3,32.75,32.25,-0.50,-1.53,-2,-1,32.50,-0.76,11318396,2022-10-25 16:56:19.658138,2022-10-26 12:47:25.589910,1
12,1177637,MCS,2022-10-21,2022-10-26,3,9.95,9.55,-0.40,-4.02,-8,-3,9.75,-2.51,4590749,2022-10-25 16:56:19.679053,2022-10-26 12:47:25.616175,1
13,1177638,CPNREIT,2022-10-25,2022-10-26,1,18.30,18.60,0.30,1.64,3,3,18.60,18.30,453707,2022-10-26 12:47:24.943258,2022-10-26 12:47:24.943258,1
14,1177639,RCL,2022-10-25,2022-10-26,1,27.75,28.50,0.75,2.70,3,3,29.00,27.75,5210719,2022-10-26 12:47:24.967135,2022-10-26 12:47:24.967135,1
15,1177640,SSP,2022-10-25,2022-10-26,1,9.55,9.65,0.10,1.05,2,2,9.80,9.60,2485330,2022-10-26 12:47:25.542595,2022-10-26 12:47:25.542595,1
16,1177641,ASK,2022-10-25,2022-10-26,1,31.75,32.00,0.25,0.79,1,1,32.25,31.75,752918,2022-10-26 12:47:25.552260,2022-10-26 12:47:25.552260,1
17,1177642,BANPU,2022-10-25,2022-10-26,1,12.40,12.50,0.10,0.81,1,1,12.50,12.30,78744051,2022-10-26 12:47:25.574985,2022-10-26 12:47:25.574985,1
18,1177643,SCB,2022-10-25,2022-10-26,1,105.50,106.00,0.50,0.47,1,1,106.50,105.00,7294118,2022-10-26 12:47:25.583263,2022-10-26 12:47:25.583263,1
19,1177644,BAM,2022-10-25,2022-10-26,1,15.20,15.10,-0.10,-0.66,-1,-1,15.30,15.00,9327631,2022-10-26 12:47:25.597091,2022-10-26 12:47:25.597091,1

In [19]:
df_sales[df_sales['pct'] >= 5].sort_values(by=['pct'],ascending=[False])

,id,name,fm_date,to_date,days,fm_price,to_price,diff,pct,ttl_spread,avg_spread,max_price,min_price,qty,created_at,updated_at,latest_date_id
8,1177632,TTB,2022-10-11,2022-10-26,11,1.2,1.38,0.18,15.00,18,1,1.38,1.32,4010738608,2022-10-24 16:18:37.827065,2022-10-26 12:47:25.609571,1
9,1177633,BCH,2022-10-21,2022-10-26,3,17.5,18.40,0.90,5.14,9,3,18.50,0.57,38378280,2022-10-25 16:56:19.562142,2022-10-26 12:47:24.986403,1

In [20]:
df_sales[df_sales['pct'] <= -5].sort_values(by=['pct'],ascending=[True])

,id,name,fm_date,to_date,days,fm_price,to_price,diff,pct,ttl_spread,avg_spread,max_price,min_price,qty,created_at,updated_at,latest_date_id
2,1176639,JASIF,2022-10-18,2022-10-26,6,8.35,7.9,-0.45,-5.39,-9,-2,8.0,-5.39,29270550,2022-10-24 16:18:31.487426,2022-10-26 12:47:24.956870,1