In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portlt\\db\\development.sqlite3")
conlt = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()

year = "2021"
quarter = "3"
today = date.today()
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-01-07'

In [2]:
#today = date(2021, 11, 11)
today_str = today.strftime("%Y-%m-%d")
today_str

'2022-01-07'

In [3]:
sql = '''
SELECT * 
FROM epss 
WHERE year = %s AND quarter = %s
AND publish_date >= "%s"'''
sql = sql % (year, quarter, today_str)

epss = pd.read_sql(sql, conlt)
epss.shape[0]

0

In [6]:
epss["yoy_gain"] = epss["q_amt"] - epss["y_amt"]
epss["yoy_pct"] = epss["yoy_gain"] / abs(epss["y_amt"]) * 100
epss["acc_gain"] = epss["aq_amt"] - epss["ay_amt"]
epss["acc_pct"] = epss["acc_gain"] / abs(epss["ay_amt"]) * 100

df_pct = epss[
    [
        "name",
        "year",
        "quarter",
        "q_amt",
        "y_amt",
        "yoy_gain",
        "yoy_pct",
        "aq_amt",
        "ay_amt",
        "acc_gain",
        "acc_pct",
    ]
]
df_pct

Empty DataFrame
Columns: [name, year, quarter, q_amt, y_amt, yoy_gain, yoy_pct, aq_amt, ay_amt, acc_gain, acc_pct]
Index: []

In [5]:
cols = ['name','year','quarter','q_amt','y_amt','yoy_gain','yoy_pct']

criteria_1 = df_pct.q_amt > 110000
df_pct.loc[criteria_1,cols]

      name  year  quarter    q_amt   y_amt  yoy_gain      yoy_pct
1      BAM  2021        3   576326  271017    305309   112.653081
3      CKP  2021        3  1234916  831308    403608    48.550958
6      AWC  2021        3   686992 -470590   1157582   245.985253
9    GLAND  2021        3   145073  178248    -33175   -18.611710
10     SKR  2021        3   339154  102377    236777   231.279487
..     ...   ...      ...      ...     ...       ...          ...
188   STEC  2021        3   136078  234510    -98432   -41.973477
190   AYUD  2021        3   181908  139552     42356    30.351410
191     CK  2021        3   275218  774462   -499244   -64.463331
194    THE  2021        3   151823  -16286    168109  1032.230136
200  THANI  2021        3   400950  472194    -71244   -15.087866

[104 rows x 7 columns]

In [6]:
criteria_2 = df_pct.y_amt > 100000
df_pct.loc[criteria_2, cols]

      name  year  quarter    q_amt   y_amt  yoy_gain     yoy_pct
1      BAM  2021        3   576326  271017    305309  112.653081
3      CKP  2021        3  1234916  831308    403608   48.550958
4     GFPT  2021        3   -87286  342068   -429354 -125.517149
5     ESSO  2021        3    46340  466746   -420406  -90.071688
9    GLAND  2021        3   145073  178248    -33175  -18.611710
..     ...   ...      ...      ...     ...       ...         ...
187   TCCC  2021        3   401834  707077   -305243  -43.169697
188   STEC  2021        3   136078  234510    -98432  -41.973477
190   AYUD  2021        3   181908  139552     42356   30.351410
191     CK  2021        3   275218  774462   -499244  -64.463331
200  THANI  2021        3   400950  472194    -71244  -15.087866

[98 rows x 7 columns]

In [7]:
criteria_3 = df_pct.yoy_pct > 10
df_pct.loc[criteria_3, cols]

       name  year  quarter    q_amt   y_amt  yoy_gain      yoy_pct
0     SFLEX  2021        3    43382   37525      5857    15.608261
1       BAM  2021        3   576326  271017    305309   112.653081
2    WACOAL  2021        3   -48431 -232950    184519    79.209702
3       CKP  2021        3  1234916  831308    403608    48.550958
6       AWC  2021        3   686992 -470590   1157582   245.985253
..      ...   ...      ...      ...     ...       ...          ...
193     PLE  2021        3   -40223 -233702    193479    82.788765
194     THE  2021        3   151823  -16286    168109  1032.230136
195     CWT  2021        3    37509   12111     25398   209.710181
198     PR9  2021        3    82947   72190     10757    14.900956
199   S & J  2021        3    88643   49588     39055    78.758974

[106 rows x 7 columns]

In [8]:
df_pct_criteria = criteria_1 & criteria_2 & criteria_3
df_pct.loc[df_pct_criteria, cols]

       name  year  quarter     q_amt     y_amt  yoy_gain     yoy_pct
1       BAM  2021        3    576326    271017    305309  112.653081
3       CKP  2021        3   1234916    831308    403608   48.550958
10      SKR  2021        3    339154    102377    236777  231.279487
24     COM7  2021        3    570507    372288    198219   53.243457
37      CRC  2021        3   2241387    837347   1404040  167.677200
53       PB  2021        3    531529    430812    100717   23.378411
64    HREIT  2021        3    141474    116607     24867   21.325478
65    STARK  2021        3    912508    395476    517032  130.736631
72      PTT  2021        3  23652828  14120183   9532645   67.510775
74      SIS  2021        3    215173    153532     61641   40.148634
75      TMT  2021        3    341337    155838    185499  119.033227
92       EA  2021        3   1616256   1118998    497258   44.437792
96   ALUCON  2021        3    194399    135075     59324   43.919304
101   EASTW  2021        3    228955    140884     88071   62.513131
105    HANA  2021        3    563779    320046    243733   76.155615
107   TPIPL  2021        3   1208352    665175    543177   81.659263
109     SSP  2021        3    286504    227534     58970   25.917006
117    CCET  2021        3    503716    189906    313810  165.244911
118    GULF  2021        3   1588186    970358    617828   63.670109
126     JMT  2021        3    351692    283166     68526   24.199939
127     ASK  2021        3    314336    231537     82799   35.760591
128     BLA  2021        3   1180489    583374    597115  102.355436
133      2S  2021        3    164531    101644     62887   61.869860
135   SAUCE  2021        3    151788    122740     29048   23.666286
141    TCAP  2021        3   1333063    638580    694483  108.754267
142     TQM  2021        3    242947    169726     73221   43.140709
145     CHG  2021        3   1563537    281712   1281825  455.012566
154   PCSGH  2021        3    211615    133902     77713   58.037221
157     MCS  2021        3    422204    288868    133336   46.158107
162   LALIN  2021        3    339169    307890     31279   10.159148
164   FORTH  2021        3    150590    130320     20270   15.554021
176     SPI  2021        3    827370    491099    336271   68.473159
177  AIMIRT  2021        3    127795    115321     12474   10.816764
179     BCH  2021        3   2896236    413364   2482872  600.650274
180     SPC  2021        3    391310    297605     93705   31.486366
183    MEGA  2021        3    612614    342048    270566   79.101763
184      TR  2021        3   1235872    183051   1052821  575.151734
190    AYUD  2021        3    181908    139552     42356   30.351410

In [9]:
df_pct[df_pct_criteria].sort_values(by=["yoy_pct"], ascending=[False])

,name,year,quarter,q_amt,y_amt,yoy_gain,yoy_pct,aq_amt,ay_amt,acc_gain,acc_pct
179,BCH,2021,3,2896236,413364,2482872,600.650274,4365731,951094,3414637,359.022031
184,TR,2021,3,1235872,183051,1052821,575.151734,2474671,-468903,2943574,627.757553
145,CHG,2021,3,1563537,281712,1281825,455.012566,2391403,623024,1768379,283.838022
10,SKR,2021,3,339154,102377,236777,231.279487,580282,258787,321495,124.231511
37,CRC,2021,3,2241387,837347,1404040,167.677200,-2311464,-1010212,-1301252,-128.809794
117,CCET,2021,3,503716,189906,313810,165.244911,564936,248006,316930,127.791263
65,STARK,2021,3,912508,395476,517032,130.736631,1875030,1083351,791679,73.076870
75,TMT,2021,3,341337,155838,185499,119.033227,1369147,364439,1004708,275.686192
1,BAM,2021,3,576326,271017,305309,112.653081,1613594,1045450,568144,54.344445
141,TCAP,2021,3,1333063,638580,694483,108.754267,3518128,5983533,-2465405,-41.203165
128,BLA,2021,3,1180489,583374,597115,102.355436,2921633,1444630,1477003,102.240920
107,TPIPL,2021,3,1208352,665175,543177,81.659263,4163771,1731323,2432448,140.496487
183,MEGA,2021,3,612614,342048,270566,79.101763,1450450,965384,485066,50.245913
105,HANA,2021,3,563779,320046,243733,76.155615,1601750,1206064,395686,32.808043
176,SPI,2021,3,827370,491099,336271,68.473159,2511651,1706208,805443,47.206613
72,PTT,2021,3,23652828,14120183,9532645,67.510775,80819105,24619117,56199988,228.277838
118,GULF,2021,3,1588186,970358,617828,63.670109,4626873,2437941,2188932,89.786094
101,EASTW,2021,3,228955,140884,88071,62.513131,877784,605938,271846,44.863666
133,2S,2021,3,164531,101644,62887,61.869860,687392,309261,378131,122.269216
154,PCSGH,2021,3,211615,133902,77713,58.037221,505158,97270,407888,419.335869
24,COM7,2021,3,570507,372288,198219,53.243457,1723165,934680,788485,84.358818
3,CKP,2021,3,1234916,831308,403608,48.550958,2056473,396916,1659557,418.112900
157,MCS,2021,3,422204,288868,133336,46.158107,1064455,730353,334102,45.745277
92,EA,2021,3,1616256,1118998,497258,44.437792,4218760,3720479,498281,13.392926
96,ALUCON,2021,3,194399,135075,59324,43.919304,590176,533243,56933,10.676746
142,TQM,2021,3,242947,169726,73221,43.140709,666260,511976,154284,30.135006
74,SIS,2021,3,215173,153532,61641,40.148634,603373,430759,172614,40.072059
127,ASK,2021,3,314336,231537,82799,35.760591,859617,662373,197244,29.778388
180,SPC,2021,3,391310,297605,93705,31.486366,1291247,1218776,72471,5.946212
190,AYUD,2021,3,181908,139552,42356,30.351410,1161934,460103,701831,152.537801
109,SSP,2021,3,286504,227534,58970,25.917006,709957,594541,115416,19.412623
126,JMT,2021,3,351692,283166,68526,24.199939,923322,716920,206402,28.790102
135,SAUCE,2021,3,151788,122740,29048,23.666286,455999,388129,67870,17.486454
53,PB,2021,3,531529,430812,100717,23.378411,1275911,1283336,-7425,-0.578570
64,HREIT,2021,3,141474,116607,24867,21.325478,559889,382809,177080,46.258056
164,FORTH,2021,3,150590,130320,20270,15.554021,536808,250390,286418,114.388754
177,AIMIRT,2021,3,127795,115321,12474,10.816764,333308,309491,23817,7.695539
162,LALIN,2021,3,339169,307890,31279,10.159148,1013148,950881,62267,6.548348

In [10]:
df_pct[df_pct_criteria].sort_values(by=["name"], ascending=[True]).shape[0]

38

### If new records pass filter criteria then proceed to create quarterly profits process.

In [3]:
name = "TCAP"
sql = """SELECT E.name, year, quarter, q_amt, y_amt, aq_amt, ay_amt, q_eps, y_eps, aq_eps, ay_eps
FROM epss E JOIN stocks S ON E.name = S.name 
WHERE E.name = '%s'
ORDER BY year DESC, quarter DESC LIMIT 4
"""
sql = sql % (name)
epss = pd.read_sql(sql, conlt)
epss

,name,year,quarter,q_amt,y_amt,aq_amt,ay_amt,q_eps,y_eps,aq_eps,ay_eps
0,TCAP,2021,3,1333063,638580,3518128,5983533,1.27,0.61,3.36,5.59
1,TCAP,2021,2,1106944,1029369,2185065,5344953,1.06,0.98,2.08,4.94
2,TCAP,2021,1,1078121,4315584,1078121,4315584,1.03,3.86,1.03,3.86
3,TCAP,2020,4,685497,4419948,6669030,10807059,0.67,3.86,6.26,9.43

In [4]:
epss.q_eps.sum()

4.03

### Delete from profits for poorer performance stocks

In [19]:
sql = '''
DELETE FROM profits
WHERE name = '%s'
AND quarter < %s
'''
sql = sql % (name, quarter)
print(sql)

DELETE FROM profits
WHERE name = 'MEGA'
AND quarter < 3

In [20]:
rp = conlt.execute(sql)
rp.rowcount

1

In [21]:
rp = conmy.execute(sql)
rp.rowcount

0

In [22]:
rp = conpg.execute(sql)
rp.rowcount

1

In [23]:
sql = '''
SELECT name, year, quarter 
FROM profits
ORDER BY name
'''
lt_profits = pd.read_sql(sql, conlt)
lt_profits.set_index('name', inplace=True)
lt_profits.index

Index(['AIT', 'AMATA', 'ASIAN', 'ASK', 'BAY', 'BGRIM', 'BLA', 'BPP', 'CHG',
       'CKP', 'COM7', 'CPTGF', 'DCC', 'DOHOME', 'EASTW', 'EPG', 'GGC',
       'GLOBAL', 'GULF', 'GUNKUL', 'HANA', 'HREIT', 'IRPC', 'IVL', 'JMART',
       'JMT', 'KBANK', 'KCE', 'KTC', 'LALIN', 'LHFG', 'MBKET', 'MCS', 'MTI',
       'NER', 'PAP', 'PRM', 'PTG', 'PTL', 'PTT', 'PTTGC', 'RATCH', 'RATCH',
       'RCL', 'RJH', 'ROJNA', 'SAUCE', 'SAWAD', 'SCB', 'SCC', 'SCCC', 'SGP',
       'SINGER', 'SIS', 'SMT', 'SNC', 'SPALI', 'SPG', 'SSP', 'STA', 'STARK',
       'SUC', 'SVI', 'SYNEX', 'TK', 'TOP', 'TPIPL', 'TQM', 'TSE', 'TSTH', 'TU',
       'TVO', 'TYCN', 'VNT', 'WHART'],
      dtype='object', name='name')