### Restart and Run All Cells

In [1]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:@localhost:3306/portfolio_development')
conpf = engine.connect()

engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()

engine = create_engine(
    "postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development"
)
conpg = engine.connect()

format_dict = {'qty':'{:,}','volbuy':'{:,}',
               'dividend':'{:.2f}','price':'{:.2f}','target':'{:.2f}','unit_cost':'{:.2f}',
               'gross':'{:,.2f}','profit':'{:,.2f}','sell_price':'{:.2f}','buy_price':'{:.2f}',
               'max':'{:.2f}','min':'{:.2f}','pct':'{:.2f}%', 
               'pe':'{:.2f}','pbv':'{:.2f}','volume':'{:.2f}','beta':'{:.2f}','diff':'{:.2f}',             
               'sell_amt':'{:,.2f}','buy_amt':'{:,.2f}','cost_amt':'{:,.2f}'}
pd.set_option('display.max_row', None)

### Record selection for day trade stocks

In [2]:
sql = '''
SELECT stocks.name, buys.date AS buy_date, sells.date AS sell_date,
sells.price AS sell_price, buys.price AS buy_price, 
(sells.price - buys.price) AS diff, qty, 
(sells.price * qty) AS sell_amt, (buys.price * qty) AS buy_amt,
(sells.price - buys.price) * qty AS gross, 
ROUND((sells.price - buys.price)/buys.price*100,2) AS pct, profit, categories.name AS market
FROM sells JOIN buys ON sells.buy_id = buys.id
JOIN stocks ON buys.stock_id = stocks.id
JOIN categories ON stocks.category_id = categories.id
WHERE kind = "DTD"
AND YEAR(sells.date) = 2021
ORDER BY stocks.name, sells.date'''
sells_df = pd.read_sql(sql, conpf)
sells_df.shape[0]

161

In [3]:
sells_df.groupby(['name'])[['gross','profit']].sum().shape

(51, 2)

### Total profit amount

In [4]:
ttl_prf = sells_df.gross.sum()
net_prf = sells_df.profit.sum()
ttl_prf,net_prf

(783825.0, 727096.66)

In [5]:
sold_grp = sells_df.groupby(['name','market'])
sold_stocks = sold_grp[['sell_amt','buy_amt','qty','gross','profit']].sum()
sold_stocks.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [6]:
sold_stocks.loc[
    sold_stocks.gross > 100000
]

              sell_amt   buy_amt    qty     gross     profit
name  market
ASIAN SET     693200.0  453000.0  38000  240200.0  237661.31
SIS   SET     535000.0  433150.0  15500  101850.0   99705.63
STA   SET50   281000.0  180000.0   6000  101000.0   99978.94
TU    SET50   393200.0  285600.0  21000  107600.0  106096.55

In [7]:
sold_stocks.nlargest(4, 'gross')[['gross']]

                 gross
name  market
ASIAN SET     240200.0
TU    SET50   107600.0
SIS   SET     101850.0
STA   SET50   101000.0

In [8]:
sold_stocks['sell_price'] = sold_stocks['sell_amt'] / sold_stocks['qty']
sold_stocks['buy_price'] = sold_stocks['buy_amt'] / sold_stocks['qty']
sold_stocks['diff'] = sold_stocks['sell_price'] - sold_stocks['buy_price']
cols = 'sell_amt buy_amt gross profit qty sell_price buy_price diff'.split()
sold_stocks[cols].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [9]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
stocks = pd.read_sql(sql, conmy)
stocks.shape[0]

376

In [10]:
df_merge = pd.merge(sold_stocks, stocks, on='name', how='inner')
df_merge.set_index('name', inplace=True)
df_merge.style.format(format_dict)

In [11]:
set50 = df_merge.market.str.contains('SET50') 
flt_set50 = df_merge[set50]
flt_set50.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [12]:
prf_set50 = flt_set50.gross.sum()
net_set50 = flt_set50.profit.sum()
prf_set50,net_set50

(190900.0, 171099.0)

In [13]:
set100 = df_merge.market.str.contains('SET100') 
flt_set100 = df_merge[set100]
flt_set100.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [14]:
prf_set100 = flt_set100.gross.sum()
net_set100 = flt_set100.profit.sum()
prf_set100,net_set100

(114425.0, 98000.32999999999)

In [15]:
flt_set = df_merge[~(set100 | set50)]
flt_set.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [16]:
prf_set = flt_set.gross.sum()
net_set = flt_set.profit.sum()
prf_set,net_set

(477750.0, 459001.19)

In [17]:
pct_set50 = round(prf_set50 / ttl_prf * 100,2)
pct_set100 = round(prf_set100 / ttl_prf * 100,2)
pct_set  = round(prf_set  / ttl_prf * 100,2)
pct_set50, pct_set100, pct_set

(24.38, 14.61, 61.01)

### Start of Balance process

In [18]:
sql = '''
SELECT name, volbuy, price, volbuy * price AS cost_amt
FROM buy
WHERE active = 1 AND period IN ("3","4")
ORDER BY name
'''
lt_buy = pd.read_sql(sql, const)
lt_buy['volbuy'] = lt_buy['volbuy'].astype(int)
lt_buy.style.format(format_dict)

In [19]:
lt_stocks = pd.merge(lt_buy, stocks, on='name', how='inner')
lt_stocks.style.format(format_dict)

### Total balance amount

In [20]:
lt_amt = lt_stocks.cost_amt.sum()
lt_amt

5596250.0

In [21]:
lt_stocks['volbuy'] = lt_stocks['volbuy'].astype(int)
set50 = lt_stocks.market.str.contains('SET50') 
port_set50 = lt_stocks[set50]
port_set50.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [22]:
amt_set50 = port_set50.cost_amt.sum()
amt_set50

3142500.0

In [23]:
set100 = lt_stocks.market.str.contains('SET100') 
port_set100 = lt_stocks[set100]
port_set100.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [24]:
amt_set100 = port_set100.cost_amt.sum()
amt_set100

669500.0

In [25]:
port_set = lt_stocks[~(set100 | set50)]
port_set.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [26]:
amt_set = port_set.cost_amt.sum()
amt_set

1784250.0

In [27]:
pct_set50 = round(amt_set50 / lt_amt * 100,2)
pct_set100 = round(amt_set100 / lt_amt * 100,2)
pct_set  = round(amt_set  / lt_amt * 100,2)
pct_set50, pct_set100, pct_set

(56.15, 11.96, 31.88)