### portmy: profits, stocks
### portpg: charts, consensus, tickers
### stock:  buy, price
### csv files: consensus.csv, portfolio.csv

In [3]:
import pandas as pd
from datetime import date, timedelta
from sqlalchemy import create_engine

engine = create_engine("sqlite:///c:\\ruby\\portmy\\db\\development.sqlite3")
conmy = engine.connect()
engine = create_engine("postgresql+psycopg2://postgres:admin@localhost:5432/portpg_development")
conpg = engine.connect()
engine = create_engine("mysql+pymysql://root:@localhost:3306/stock")
const = engine.connect()

data_path = "../data/"
csv_path = "\\Users\\User\\iCloudDrive\\"
box_path = "\\Users\\User\\Dropbox\\"

pd.set_option('display.max_row', None)
format_dict = {'volume':'{:,}',
               'dividend':'{:.2f}','price':'{:.2f}','target':'{:.2f}','unit_cost':'{:.2f}',
               'price_d':'{:.2f}','price_w':'{:.2f}',
               'max':'{:.2f}','min':'{:.2f}','pe':'{:.2f}','pbv':'{:.2f}','beta':'{:.2f}',               
               'cost_amt':'{:,.2f}','div_amt':'{:,.2f}','yield':'{:,.2f}','yld':'{:,.2f}',
               'pct':'{:,.2f}%'}

today = date.today()
week_str = today.strftime('%Y-%U')
today, week_str

(datetime.date(2021, 12, 18), '2021-50')

In [4]:
today = today - timedelta(days=1)
wkago = today - timedelta(days=8)
today, wkago

(datetime.date(2021, 12, 17), datetime.date(2021, 12, 9))

In [3]:
sql = '''
SELECT name, kind, year, quarter
FROM profits
ORDER BY name'''
my_profits = pd.read_sql(sql, conmy)
my_profits.shape[0]

40

In [4]:
sql = """
SELECT name, price, target_price AS target, 
ROUND((target_price-price)/price*100, 0) AS upside, buy, hold, sell, yield, 
date(updated_at), ('%s'::date - date(updated_at)::date) AS days
FROM consensus
WHERE price > 0 AND target_price > 0
AND ('%s'::date - date(updated_at)::date) <= 31"""
sql = sql % (today, today)
consensus = pd.read_sql(sql, conpg)
consensus.set_index('name', inplace=True)
consensus['upside'] = consensus['upside'].astype(int)
consensus.shape[0]

248

In [7]:
consensus.loc['TSTH']

price            1.5
target          1.89
upside            21
buy                0
hold               0
sell               1
yield            0.0
date      2021-12-02
days               7
Name: TSTH, dtype: object

In [6]:
consensus.loc['TSTH',['target','upside']] = [1.89,21]

In [8]:
prf_css = pd.merge(my_profits, consensus, on='name', how='inner')
prf_css.set_index('name', inplace=True)
prf_css.shape[0]

38

### Profits w/o consensus

In [9]:
df_tmp = pd.merge(my_profits, consensus, on='name', how='outer',indicator=True)
prf_wo_css = df_tmp['_merge'] == 'left_only'
df_tmp[prf_wo_css]

,name,kind,year,quarter,price,target,upside,buy,hold,sell,yield,date,days,_merge
15,LANNA,1.0,2021.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
39,VNT,1.0,2021.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

### Start of Gain Percentage Calculation

In [10]:
sql = '''
SELECT name, max_price AS max, min_price AS min, pe, pbv, daily_volume AS volume, beta, market
FROM stocks
'''
my_stocks = pd.read_sql(sql, conmy)
my_stocks.shape[0]

376

In [11]:
consensus2 = pd.merge(prf_css, my_stocks, on='name', how='inner')
consensus2.set_index('name', inplace=True)
consensus2.shape

(38, 19)

In [12]:
set50 = consensus2.market.str.contains('SET50') & (consensus2.upside >= 5)
flt_set50 = consensus2[set50]
flt_set50.sort_values(['name'],ascending=[True]).shape[0]

10

In [13]:
consensus2.loc[
    consensus2.market.str.contains('SET50') & (consensus2.upside >= 5),
    ['year', 'quarter', 'price', 'target', 'upside', 'buy', 'hold', 'sell', 'yield', 'max', 'min', 'pe', 'pbv', 'volume', 'beta']
]

,year,quarter,price,target,upside,buy,hold,sell,yield,max,min,pe,pbv,volume,beta
name,,,,,,,,,,,,,,,
BGRIM,2021,3,39.25,54.73,39,12,2,0,1.3,56.00,38.25,38.52,3.48,477.21,1.05
GLOBAL,2021,3,19.80,26.37,33,9,1,0,1.5,24.70,15.69,30.63,4.85,282.48,0.70
GULF,2021,3,40.75,46.46,14,11,3,0,0.9,45.25,31.00,73.89,5.36,1037.23,0.98
IVL,2021,3,40.00,53.65,34,16,2,0,3.3,50.00,33.75,10.11,1.44,1085.40,1.62
KBANK,2021,3,139.00,178.50,28,4,0,0,2.5,153.00,101.00,7.95,0.71,3573.81,1.52
KCE,2021,3,93.00,101.50,9,14,1,0,1.6,95.00,38.50,52.17,8.67,1204.19,0.61
PTT,2021,3,37.50,50.10,34,17,0,0,4.8,45.00,34.00,11.40,1.09,2569.34,0.98
RATCH,2021,3,44.00,55.08,25,6,2,1,6.0,57.50,42.00,8.20,0.94,286.12,0.66
STA,2021,3,29.75,38.03,28,7,2,0,13.8,56.75,25.00,2.32,0.98,1008.59,-0.04
TOP,2021,3,48.25,66.47,38,15,3,0,4.1,66.00,42.50,6.65,0.85,719.93,1.21

In [14]:
set100 = consensus2.market.str.contains('SET100') & (consensus2.upside >= 10)
flt_set100 = consensus2[set100]
flt_set100.shape[0]

7

In [15]:
consensus2.loc[
    consensus2.market.str.contains('SET100') & (consensus2.upside >= 10),
    ['year', 'quarter', 'price', 'target', 'upside', 'buy', 'hold', 'sell', 'yield', 'max', 'min', 'pe', 'pbv', 'volume', 'beta']
]

,year,quarter,price,target,upside,buy,hold,sell,yield,max,min,pe,pbv,volume,beta
name,,,,,,,,,,,,,,,
BCH,2021,3,19.90,26.42,33,13,4,0,4.6,26.75,12.80,10.69,4.70,495.84,0.14
CKP,2021,3,5.00,6.43,29,6,0,0,2.7,6.30,4.16,19.69,1.66,134.24,1.18
DOHOME,2021,3,23.40,30.46,30,8,0,0,1.9,30.75,12.00,33.34,5.37,251.10,0.78
MEGA,2021,3,51.75,57.10,10,8,4,0,2.2,56.50,32.25,24.03,6.04,246.94,0.40
PTL,2021,2,24.00,29.00,21,1,0,0,4.2,31.75,21.60,7.42,1.24,125.83,0.69
SPALI,2021,3,22.20,25.83,16,15,1,0,5.2,23.60,18.80,7.14,1.10,173.05,0.80
TQM,2021,3,107.50,148.00,38,5,0,0,2.4,140.50,100.50,37.66,13.91,125.43,0.57

In [16]:
setmai = consensus2.market.str.contains('mai') & (consensus2.upside >= 15)
flt_setmai = consensus2[setmai]
flt_setmai.sort_values(['name'],ascending=[True]).style.format(format_dict)

In [17]:
flt_set999 = consensus2[~(set100 | set50 | setmai) & 
            (consensus2.upside >= 15) ]
flt_set999.shape[0]

11

In [18]:
consensus2.loc[
    ~(set100 | set50 | setmai) & (consensus2.upside >= 15),
    ['year', 'quarter', 'price', 'target', 'upside', 'buy', 'hold', 'sell', 'yield', 'max', 'min', 'pe', 'pbv', 'volume', 'beta']
]

,year,quarter,price,target,upside,buy,hold,sell,yield,max,min,pe,pbv,volume,beta
name,,,,,,,,,,,,,,,
EPG,2021,2,11.00,15.08,37,11,1,0,2.7,13.70,5.90,18.16,2.68,206.77,0.78
MCS,2021,3,14.50,20.50,41,2,0,0,9.4,16.20,12.70,5.37,1.54,57.75,0.58
NER,2021,3,7.20,10.09,40,8,0,0,5.4,8.65,4.10,7.11,2.56,334.04,0.36
RCL,2021,3,45.50,58.00,27,1,0,0,7.6,67.75,11.60,3.39,1.97,702.48,0.54
RJH,2021,3,34.25,39.75,16,1,0,0,5.4,39.00,22.80,11.74,5.37,24.06,0.40
ROJNA,2021,3,6.55,8.05,23,3,0,0,4.8,8.90,4.22,6.06,0.85,75.55,0.93
SAT,2021,3,21.50,25.95,21,8,1,1,6.6,23.50,13.90,9.02,1.23,61.43,0.86
SMT,2021,3,6.60,8.15,23,4,0,0,1.6,7.50,2.48,28.17,3.68,76.22,1.00
TKS,2021,3,14.00,22.00,57,1,0,0,4.0,14.70,5.90,5.64,1.70,78.98,1.20
TSE,2021,3,2.78,3.60,29,1,0,0,2.2,3.70,2.34,8.48,0.88,72.57,0.75
TSTH,2021,2,1.50,1.89,21,0,0,1,0.0,2.44,0.48,5.79,1.10,141.60,1.52

In [19]:
flt_all = pd.concat([flt_set50,flt_set100,flt_set999,flt_setmai])
flt_all.sort_values(['upside'],ascending=[False])

,kind,year,quarter,price,target,upside,buy,hold,sell,yield,date,days,max,min,pe,pbv,volume,beta,market
name,,,,,,,,,,,,,,,,,,,
IMH,1,2021,3,11.20,21.60,93,2,0,0,5.4,2021-12-10,-1,16.20,2.08,8.25,3.38,35.36,0.47,mai
TKS,1,2021,3,14.00,22.00,57,1,0,0,4.0,2021-12-10,-1,14.70,5.90,5.64,1.70,78.98,1.20,sSET
MCS,1,2021,3,14.50,20.50,41,2,0,0,9.4,2021-12-10,-1,16.20,12.70,5.37,1.54,57.75,0.58,sSET
NER,1,2021,3,7.20,10.09,40,8,0,0,5.4,2021-12-10,-1,8.65,4.10,7.11,2.56,334.04,0.36,sSET
BGRIM,0,2021,3,39.25,54.73,39,12,2,0,1.3,2021-12-10,-1,56.00,38.25,38.52,3.48,477.21,1.05,SET50 / SETCLMV / SETTHSI
TQM,1,2021,3,107.50,148.00,38,5,0,0,2.4,2021-12-10,-1,140.50,100.50,37.66,13.91,125.43,0.57,SET100
TOP,0,2021,3,48.25,66.47,38,15,3,0,4.1,2021-12-10,-1,66.00,42.50,6.65,0.85,719.93,1.21,SET50 / SETCLMV / SETTHSI
EPG,0,2021,2,11.00,15.08,37,11,1,0,2.7,2021-12-10,-1,13.70,5.90,18.16,2.68,206.77,0.78,SET
IVL,0,2021,3,40.00,53.65,34,16,2,0,3.3,2021-12-09,0,50.00,33.75,10.11,1.44,1085.40,1.62,SET50 / SETTHSI
PTT,0,2021,3,37.50,50.10,34,17,0,0,4.8,2021-12-08,1,45.00,34.00,11.40,1.09,2569.34,0.98,SET50 / SETCLMV / SETHD / SETTHSI
GLOBAL,0,2021,3,19.80,26.37,33,9,1,0,1.5,2021-12-09,0,24.70,15.69,30.63,4.85,282.48,0.70,SET50 / SETCLMV / SETWB
BCH,1,2021,3,19.90,26.42,33,13,4,0,4.6,2021-12-10,-1,26.75,12.80,10.69,4.70,495.84,0.14,SET100 / SETWB
DOHOME,0,2021,3,23.40,30.46,30,8,0,0,1.9,2021-12-10,-1,30.75,12.00,33.34,5.37,251.10,0.78,SET100 / SETWB
CKP,1,2021,3,5.00,6.43,29,6,0,0,2.7,2021-12-10,-1,6.30,4.16,19.69,1.66,134.24,1.18,SET100 / SETCLMV / SETTHSI
TSE,1,2021,3,2.78,3.60,29,1,0,0,2.2,2021-12-10,-1,3.70,2.34,8.48,0.88,72.57,0.75,sSET
STA,0,2021,3,29.75,38.03,28,7,2,0,13.8,2021-12-10,-1,56.75,25.00,2.32,0.98,1008.59,-0.04,SET50 / SETTHSI / SETWB
KBANK,0,2021,3,139.00,178.50,28,4,0,0,2.5,2021-12-10,-1,153.00,101.00,7.95,0.71,3573.81,1.52,SET50 / SETCLMV / SETTHSI
RCL,1,2021,3,45.50,58.00,27,1,0,0,7.6,2021-12-09,0,67.75,11.60,3.39,1.97,702.48,0.54,SETCLMV
RATCH,0,2021,3,44.00,55.08,25,6,2,1,6.0,2021-12-09,0,57.50,42.00,8.20,0.94,286.12,0.66,SET50 / SETCLMV / SETHD / SETTHSI
SMT,1,2021,3,6.60,8.15,23,4,0,0,1.6,2021-12-10,-1,7.50,2.48,28.17,3.68,76.22,1.00,sSET
ROJNA,1,2021,3,6.55,8.05,23,3,0,0,4.8,2021-12-10,-1,8.90,4.22,6.06,0.85,75.55,0.93,sSET
IP,1,2021,3,20.00,24.53,23,3,1,0,1.1,2021-12-10,-1,24.47,8.74,80.90,8.20,32.76,0.84,mai
SAT,0,2021,3,21.50,25.95,21,8,1,1,6.6,2021-12-09,0,23.50,13.90,9.02,1.23,61.43,0.86,sSET / SETTHSI
PTL,1,2021,2,24.00,29.00,21,1,0,0,4.2,2021-12-10,-1,31.75,21.60,7.42,1.24,125.83,0.69,SET100
TSTH,1,2021,2,1.50,1.89,21,0,0,1,0.0,2021-12-02,7,2.44,0.48,5.79,1.10,141.60,1.52,sSET / SETCLMV / SETTHSI
RJH,1,2021,3,34.25,39.75,16,1,0,0,5.4,2021-12-10,-1,39.00,22.80,11.74,5.37,24.06,0.40,sSET
SPALI,0,2021,3,22.20,25.83,16,15,1,0,5.2,2021-12-10,-1,23.60,18.80,7.14,1.10,173.05,0.80,SET100 / SETHD / SETTHSI
GULF,1,2021,3,40.75,46.46,14,11,3,0,0.9,2021-12-10,-1,45.25,31.00,73.89,5.36,1037.23,0.98,SET50 / SETCLMV / SETTHSI
MEGA,1,2021,3,51.75,57.10,10,8,4,0,2.2,2021-12-10,-1,56.50,32.25,24.03,6.04,246.94,0.40,SET100 / SETCLMV / SETWB
KCE,0,2021,3,93.00,101.50,9,14,1,0,1.6,2021-12-10,-1,95.00,38.50,52.17,8.67,1204.19,0.61,SET50

In [20]:
flt_all.shape

(30, 19)

In [21]:
sql = '''
SELECT name, year, quarter
FROM charts 
ORDER BY name, year DESC, quarter DESC
'''
charts = pd.read_sql(sql, conpg)
charts.shape

(206, 3)

### Start of Delete Duplicated Charts

In [22]:
df_uniq = charts.drop_duplicates(subset='name', keep='first')
df_uniq.shape[0]

139

In [23]:
sr = df_uniq['name']
sr

0       ADVANC
2       AEONTS
3       AIMIRT
4          AIT
5           AJ
6        AMATA
8           AP
10       ASIAN
12         ASK
14         BAY
15         BBL
16         BCH
18         BCP
19        BDMS
20         BGC
21       BGRIM
23          BH
24         BKI
25         BLA
26     BOFFICE
27         BPP
28         CHG
30         CKP
31        COM7
33         CPF
34       CPNCG
36       CPTGF
37         DCC
39       DELTA
41         DIF
43      DOHOME
45         DRT
46        DTAC
47          EA
48       EASTW
49      EGATIF
51        EGCO
53         EPG
55          GC
56         GGC
57      GLOBAL
59        GPSC
61        GULF
63      GUNKUL
64      GVREIT
65        HANA
67       HMPRO
68       HREIT
70         HTC
72         ILM
74         IMH
75      INTUCH
77          IP
79        IRPC
80         IVL
82       JASIF
83       JMART
85         JMT
87       KBANK
88         KCE
90         KKP
91         KTB
92         KTC
93       LALIN
95       LANNA
96          LH
98        LHFG
99         LST
100      MBKET
101         MC
102        MCS
104       MEGA
106        MTC
108        MTI
109        NER
110      NOBLE
112        ORI
114        PAP
115        PDG
116         PM
117       POPF
119        PRM
121        PTG
123        PTL
124        PTT
126      PTTEP
127      PTTGC
129      RATCH
131        RCL
132        RJH
134      ROJNA
136        SAT
138      SAUCE
140      SAWAD
142        SCB
143        SCC
144       SCCC
146       SENA
148        SGP
150     SINGER
152       SIRI
153        SIS
155       SMPC
156        SMT
157        SNC
158      SPALI
159        SPG
160        SPI
161        SSP
163        STA
165      STARK
167        SUC
169      SUPER
170        SVI
171      SYNEX
173      TASCO
174       TCAP
175       TCCC
176        TFG
177        TIP
178      TISCO
179         TK
180        TKS
181        TMT
183        TOA
184        TOP
185      TPIPL
187      TPIPP
189        TQM
191        TSE
192       TSTH
193      TTLPF
194        TTW
196         TU
198        TVO
200       TYCN
201      UOBKH
202        VNT
204      WHART
Name: name, dtype: object

In [24]:
names = sr.values.tolist()
in_p = ', '.join(map(lambda name: "'%s'" % name, names))
in_p

"'ADVANC', 'AEONTS', 'AIMIRT', 'AIT', 'AJ', 'AMATA', 'AP', 'ASIAN', 'ASK', 'BAY', 'BBL', 'BCH', 'BCP', 'BDMS', 'BGC', 'BGRIM', 'BH', 'BKI', 'BLA', 'BOFFICE', 'BPP', 'CHG', 'CKP', 'COM7', 'CPF', 'CPNCG', 'CPTGF', 'DCC', 'DELTA', 'DIF', 'DOHOME', 'DRT', 'DTAC', 'EA', 'EASTW', 'EGATIF', 'EGCO', 'EPG', 'GC', 'GGC', 'GLOBAL', 'GPSC', 'GULF', 'GUNKUL', 'GVREIT', 'HANA', 'HMPRO', 'HREIT', 'HTC', 'ILM', 'IMH', 'INTUCH', 'IP', 'IRPC', 'IVL', 'JASIF', 'JMART', 'JMT', 'KBANK', 'KCE', 'KKP', 'KTB', 'KTC', 'LALIN', 'LANNA', 'LH', 'LHFG', 'LST', 'MBKET', 'MC', 'MCS', 'MEGA', 'MTC', 'MTI', 'NER', 'NOBLE', 'ORI', 'PAP', 'PDG', 'PM', 'POPF', 'PRM', 'PTG', 'PTL', 'PTT', 'PTTEP', 'PTTGC', 'RATCH', 'RCL', 'RJH', 'ROJNA', 'SAT', 'SAUCE', 'SAWAD', 'SCB', 'SCC', 'SCCC', 'SENA', 'SGP', 'SINGER', 'SIRI', 'SIS', 'SMPC', 'SMT', 'SNC', 'SPALI', 'SPG', 'SPI', 'SSP', 'STA', 'STARK', 'SUC', 'SUPER', 'SVI', 'SYNEX', 'TASCO', 'TCAP', 'TCCC', 'TFG', 'TIP', 'TISCO', 'TK', 'TKS', 'TMT', 'TOA', 'TOP', 'TPIPL', 'TPIPP', 'TQM', 'TSE', 'TSTH', 'TTLPF', 'TTW', 'TU', 'TVO', 'TYCN', 'UOBKH', 'VNT', 'WHART'"

### End of Delete Duplicated Charts

In [25]:
filter = pd.merge(df_uniq, flt_all, on='name', how='inner')
filter.sort_values(by=['name'],ascending=[True]).style.format(format_dict)

In [26]:
final = filter
col9 = 'name price target upside buy hold sell market yield'.split()
final[col9].sort_values(by='name',ascending=True).style.format(format_dict)

In [27]:
sql = '''
SELECT name, sector, subsector
FROM tickers'''
pg_tickers = pd.read_sql(sql, conpg)
pg_tickers.shape[0]

402

In [28]:
final2 = pd.merge(final, pg_tickers, on='name', how='inner')
colt = 'name price target upside buy hold sell market sector subsector volume beta yield'.split()
final2.reset_index()
final2[colt].sort_values(['name'],ascending=[True]).to_json("C:/ClearStep/dist/consensus.json", orient="table")

### Final result to input to port_lite stocks

In [29]:
colt = 'name price target upside buy hold sell market sector subsector volume beta yield'.split()
final2[colt].sort_values(['name'],ascending=[True]).style.format(format_dict)

In [30]:
final2.shape

(30, 24)

In [31]:
file_name = 'consensus.csv'
data_file = data_path + file_name
output_file = csv_path + file_name
box_file = box_path + file_name
data_file, output_file, box_file

('../data/consensus.csv',
 '\\Users\\User\\iCloudDrive\\consensus.csv',
 '\\Users\\User\\Dropbox\\consensus.csv')

In [32]:
final2[colt].sort_values(['name'],ascending=[True]).to_csv(output_file)
final2[colt].sort_values(['name'],ascending=[True]).to_csv(data_file)
final2[colt].sort_values(['name'],ascending=[True]).to_csv(box_file)